In [321]:
import requests
import pandas as pd

years = range(2005, 2024)  # From 2010 to 2022
data = []

# Replace with your API key
API_KEY = '59951fa51ae0813c57d78e2f22413294efb566a6'

# DP03_0003E, DP03_0005E
for year in years:
    if year > 2010:
        # For years greater than 2010, make a single API call to get all data
        if(year != 2020):
            url = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,B01001_001E,B19013_001E,B23025_005E,B23025_003E,B01002_001E,B07001_001E&for=place:*&key={API_KEY}"
        else:
            url = f"https://api.census.gov/data/{year}/acs/acs5?get=NAME,B01001_001E,B19013_001E,B23025_005E,B23025_003E,B01002_001E,B07001_001E&for=place:*&key={API_KEY}"
        response = requests.get(url)
        if response.status_code != 200:
            print(f"Failed to fetch data for year {year}")
            continue
        json_data = response.json()
        for row in json_data[1:]:  # Skip the header row
            city_name = row[0]
            try:
                population = int(row[1])
                mean_income = float(row[2])
                unemployed = float(row[3])
                total_labor_force = float(row[4])
                median_age = float(row[5])
                geo_mobility = float(row[6])
            except:
                population = 0

            # Filter for population greater than 100,000
            if population > 100000:
                data.append({
                    'Year': year,
                    'City': city_name,
                    'Total Population': population,
                    'Mean Household Income': mean_income,
                    'Unemployment Rate': unemployed/total_labor_force*100,
                    'Median Age': median_age,
                    'Geographic Mobility': geo_mobility,
                })
    else:
        # For years <= 2010, make two API calls: one for general data and one for unemployment data
        url_general = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,B01001_001E,B19013_001E,B01002_001E,B07001_001E&for=place:*&key={API_KEY}"
        url_unemployment = f"https://api.census.gov/data/{year}/acs/acs1/profile?get=NAME,DP03_0003E,DP03_0005E&for=place:*&key={API_KEY}"
        
        response_general = requests.get(url_general)
        response_unemployment = requests.get(url_unemployment)
        
        if response_general.status_code != 200 or response_unemployment.status_code != 200:
            print(f"Failed to fetch data for year {year}")
            continue
        
        json_data_general = response_general.json()
        json_data_unemployment = response_unemployment.json()
        
        # Create a lookup for unemployment data by city name
        unemployment_dict = {}
        for row in json_data_unemployment[1:]:  # Skip the header row
            city_name = row[0]
            try:
                unemployed = float(row[1])
                total_labor_force = float(row[2])
                unemployment_dict[city_name] = (unemployed, total_labor_force)
            except:
                unemployment_dict[city_name] = (0, 0)
        
        for row in json_data_general[1:]:  # Skip the header row
            city_name = row[0]
            try:
                population = int(row[1])
                mean_income = float(row[2])
                median_age = float(row[3])
                geo_mobility = float(row[4])
                unemployed, total_labor_force = unemployment_dict.get(city_name, (0, 0))
            except:
                population = 0

            # Filter for population greater than 100,000
            if population > 100000:
                if total_labor_force > 0:  # Prevent division by zero
                    unemployment_rate = unemployed / total_labor_force 
                else:
                    unemployment_rate = None
                
                data.append({
                    'Year': year,
                    'City': city_name,
                    'Total Population': population,
                    'Mean Household Income': mean_income,
                    'Unemployment Rate': unemployment_rate,
                    'Median Age': median_age,
                    'Geographic Mobility': geo_mobility,
                })

# Create a DataFrame
df = pd.DataFrame(data)
state_abbreviation_map = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI',
    'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY'
}

# Step 2: Replace state names with abbreviations in the 'City' column
def replace_state_names(city_name):
    for state, abbrev in state_abbreviation_map.items():
        if state in city_name:
            return city_name.replace(state, abbrev)
    return city_name
pivot_income = df.pivot(index='City', columns='Year', values='Mean Household Income')
df_income = pivot_income
df_income = df_income.dropna()
# cleaning out stuff
df_income.reset_index(inplace=True)
df_income = df_income[~df_income['City'].str.contains("Puerto Rico", case=False, na=False)]
df_income['City'] = df_income['City'].str.replace(r' \bcity\b', '', regex=True)
df_income['City'] = df_income['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_income['City'] = df_income['City'].str.replace(r' \bCDP\b', '', regex=True)
df_income['City'] = df_income['City'].str.strip()
df_income['City'] = df_income['City'].apply(replace_state_names)
df_income.reset_index(inplace=True)
df_income = df_income.drop(columns=['index'], errors='ignore')
df_income

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",41820.0,43021.0,43677.0,46437.0,44594.0,46079.0,43606.0,45373.0,48357.0,46433.0,47096.0,50522.0,50456.0,51099.0,55567.0,53936.0,58512.0,64757.0,67907.0
1,"Anaheim, CA",52158.0,55720.0,57059.0,61128.0,55154.0,54157.0,56858.0,55464.0,57550.0,62198.0,63104.0,64464.0,70395.0,76154.0,76075.0,76723.0,81747.0,85133.0,84872.0
2,"Anchorage, AK",61217.0,63656.0,68726.0,75637.0,72832.0,72128.0,72813.0,72575.0,79045.0,76337.0,78662.0,85634.0,79166.0,83648.0,82716.0,84813.0,86654.0,100751.0,94437.0
3,"Arlington, VA",80433.0,87350.0,94876.0,101171.0,96218.0,94986.0,100735.0,100474.0,102501.0,109266.0,106768.0,110388.0,117237.0,122394.0,119755.0,122604.0,125651.0,132380.0,140219.0
4,"Arlington, TX",48992.0,50582.0,50447.0,52777.0,50938.0,48752.0,50655.0,51285.0,51400.0,52141.0,53487.0,54272.0,57083.0,63091.0,61716.0,63351.0,59889.0,70433.0,69208.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",35966.0,36137.0,38270.0,39657.0,38426.0,38220.0,40123.0,40440.0,41495.0,42803.0,43322.0,43134.0,45894.0,47583.0,49158.0,49474.0,51008.0,54040.0,56821.0
83,"Vancouver, WA",40743.0,45884.0,47989.0,50990.0,45701.0,47307.0,48909.0,45718.0,47379.0,51478.0,51988.0,56615.0,61079.0,60988.0,66679.0,63617.0,69993.0,76799.0,80618.0
84,"VA Beach, VA",58545.0,61333.0,61462.0,65776.0,59298.0,64212.0,64614.0,61626.0,62855.0,68816.0,67281.0,71117.0,72586.0,77059.0,79054.0,78136.0,81634.0,83245.0,91141.0
85,"Washington, DC",47221.0,51847.0,54317.0,57936.0,59290.0,60903.0,63124.0,66583.0,67572.0,71648.0,75628.0,75506.0,82372.0,85203.0,92266.0,90842.0,90088.0,101027.0,108210.0
86,"Wichita, KS",40115.0,41089.0,42696.0,44211.0,44405.0,42694.0,44184.0,43776.0,43538.0,45477.0,46894.0,49202.0,50504.0,51051.0,55056.0,53466.0,56293.0,59277.0,61281.0

In [322]:
pivot_unem = df.pivot(index='City', columns='Year', values='Unemployment Rate')
df_unem = pivot_unem
df_unem = df_unem.dropna()
# cleaning out stuff
df_unem.reset_index(inplace=True)
df_unem = df_unem[~df_unem['City'].str.contains("Puerto Rico", case=False, na=False)]
df_unem['City'] = df_unem['City'].str.replace(r' \bcity\b', '', regex=True)
df_unem['City'] = df_unem['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_unem['City'] = df_unem['City'].str.replace(r' \bCDP\b', '', regex=True)
df_unem['City'] = df_unem['City'].str.strip()
df_unem['City'] = df_unem['City'].apply(replace_state_names)
df_unem.reset_index(inplace=True)
df_unem = df_unem.drop(columns=['index'], errors='ignore')
df_unem

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",14.533702,18.786019,19.911130,19.150972,13.877965,12.436434,10.542100,8.817330,7.260191,8.308843,6.681222,5.212342,4.805098,5.734425,5.082790,5.594741,6.105605,4.188383,4.337847
1,"Anaheim, CA",14.052579,17.116733,15.048664,11.264549,8.316300,6.947624,11.514510,11.795449,9.850070,6.379095,6.688202,5.687834,4.870972,4.212351,3.736232,5.253194,7.739288,3.760461,4.800021
2,"Anchorage, AK",12.813669,12.609018,14.652567,16.511551,13.173254,11.754007,7.661335,6.494628,6.606993,5.718332,6.380028,5.161294,5.820640,5.451503,5.422420,5.234905,6.645122,4.071370,4.253729
3,"Arlington, VA",31.389930,49.631138,39.573277,42.709646,17.357022,23.814249,3.375747,4.198722,3.452558,3.231800,4.125580,2.790432,2.515723,2.024391,2.240866,2.845019,3.427225,1.953504,3.585866
4,"Arlington, TX",11.645064,13.063362,16.550008,16.860931,11.282053,8.792764,9.248439,8.889318,7.271395,6.764301,4.317417,4.675709,4.355157,3.586946,5.522196,5.207499,6.383448,4.230644,3.797428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",14.075982,14.096175,16.782754,21.912674,13.843573,10.640480,8.010352,7.862066,7.173986,5.581463,6.377931,7.008047,6.854466,5.031363,5.547656,6.213191,7.054247,4.833533,6.023028
83,"Vancouver, WA",11.566898,12.620030,13.386219,12.329842,6.921437,6.491887,11.518850,11.966959,9.433639,9.233544,5.439369,5.538916,6.108281,4.402471,4.667593,5.034493,7.572812,6.928904,4.225046
84,"VA Beach, VA",20.551649,25.859625,27.103135,20.557803,15.339974,15.152082,6.348781,7.094098,6.254390,5.334866,5.622950,4.695007,3.980565,4.218738,4.146352,4.379281,4.135830,3.412326,4.105642
85,"Washington, DC",10.958860,11.788686,12.381388,12.881559,9.013277,8.060211,11.377442,10.342908,10.446569,8.859504,7.250638,6.919595,6.590778,7.541190,6.263807,7.119626,8.200761,5.112622,5.258939
86,"Wichita, KS",12.318049,13.096823,15.245344,16.408939,9.897806,8.734963,10.462393,8.034788,7.482116,6.848021,4.994331,5.754310,6.689720,4.901292,5.507219,5.570981,7.203338,6.025616,4.093885

In [323]:
pivot_age = df.pivot(index='City', columns='Year', values='Median Age')
df_age = pivot_age
df_age = df_age.dropna()
# cleaning out stuff
df_age.reset_index(inplace=True)
df_age = df_age[~df_age['City'].str.contains("Puerto Rico", case=False, na=False)]
df_age['City'] = df_age['City'].str.replace(r' \bcity\b', '', regex=True)
df_age['City'] = df_age['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_age['City'] = df_age['City'].str.replace(r' \bCDP\b', '', regex=True)
df_age['City'] = df_age['City'].str.strip()
df_age['City'] = df_age['City'].apply(replace_state_names)
df_age.reset_index(inplace=True)
df_age = df_age.drop(columns=['index'], errors='ignore')
df_age

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",35.8,35.3,35.2,35.5,34.0,35.2,35.5,35.3,35.8,35.7,36.0,36.5,37.0,37.2,37.3,37.1,38.9,38.4,39.2
1,"Anaheim, CA",30.0,32.2,32.5,31.9,32.2,32.7,32.1,33.2,33.8,34.2,33.6,34.1,34.3,34.4,35.2,34.8,37.2,36.0,37.1
2,"Anchorage, AK",33.8,33.5,33.3,33.4,32.3,32.7,32.9,33.0,32.4,32.1,32.2,33.0,34.0,34.3,34.2,33.9,35.2,35.4,36.0
3,"Arlington, VA",36.7,37.7,37.2,38.0,33.2,33.5,33.9,33.6,33.8,34.0,34.4,34.8,34.8,34.7,35.0,34.8,35.9,35.4,35.7
4,"Arlington, TX",31.6,31.6,31.4,32.0,31.4,32.0,31.2,31.9,32.4,33.2,32.6,32.4,33.1,33.1,33.6,32.9,34.7,32.8,34.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",35.3,36.1,35.6,35.8,34.9,35.1,34.8,34.8,34.7,35.4,35.0,34.5,35.5,35.4,35.5,35.2,35.9,35.8,35.7
83,"Vancouver, WA",34.6,35.1,36.0,34.8,38.1,36.8,38.0,36.0,36.0,36.3,37.2,36.3,37.1,37.4,36.9,37.1,39.4,36.8,38.1
84,"VA Beach, VA",34.9,35.5,35.8,36.5,34.3,34.9,34.9,34.9,35.0,35.2,35.4,35.8,36.2,36.5,36.6,36.4,37.1,37.8,38.2
85,"Washington, DC",35.9,35.0,34.9,34.9,35.1,33.9,33.4,33.7,33.8,33.8,33.8,33.9,34.0,33.9,34.3,34.1,34.8,34.9,34.9
86,"Wichita, KS",34.2,34.8,35.0,34.0,34.3,33.9,34.3,35.1,34.0,34.0,34.6,34.7,35.9,35.3,35.3,35.3,35.6,36.2,36.8

,Year,City,Total Population,Mean Household Income,Unemployment Rate,Median Age,Geographic Mobility
0,2005,"Irvine city, California",172182,82827.0,27.189537,36.0,170140.0
1,2005,"Long Beach city, California",463956,43746.0,13.441066,33.6,457045.0
2,2005,"Los Angeles city, California",3731437,42667.0,12.035838,33.3,3667157.0
3,2005,"Oakland city, California",373910,44124.0,9.549086,35.2,367165.0
4,2005,"Riverside city, California",294059,50416.0,12.189367,28.9,289333.0
...,...,...,...,...,...,...,...
3500,2023,"Spokane city, Washington",229451,65016.0,3.846681,36.7,226436.0
3501,2023,"Tacoma city, Washington",222932,89107.0,5.968414,37.9,220476.0
3502,2023,"Vancouver city, Washington",196441,80618.0,4.225046,38.1,193173.0
3503,2023,"Madison city, Wisconsin",280307,70484.0,2.634292,32.5,278318.0
3504,2023,"Milwaukee city, Wisconsin",561369,52992.0,5.107649,32.6,555962.0

In [328]:
pivot_geomob = df.pivot(index='City', columns='Year', values='Geographic Mobility')
df_geomob = pivot_geomob
df_geomob = df_geomob.dropna()
# cleaning out stuff
df_geomob.reset_index(inplace=True)
df_geomob = df_geomob[~df_geomob['City'].str.contains("Puerto Rico", case=False, na=False)]
df_geomob['City'] = df_geomob['City'].str.replace(r' \bcity\b', '', regex=True)
df_geomob['City'] = df_geomob['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_geomob['City'] = df_geomob['City'].str.replace(r' \bCDP\b', '', regex=True)
df_geomob['City'] = df_geomob['City'].str.strip()
df_geomob['City'] = df_geomob['City'].apply(replace_state_names)
df_geomob.reset_index(inplace=True)
df_geomob = df_geomob.drop(columns=['index'], errors='ignore')
df_geomob

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",482442.0,485982.0,505490.0,506706.0,519532.0,540574.0,544579.0,548340.0,549629.0,550317.0,552275.0,553849.0,551049.0,553759.0,553804.0,554784.0,558997.0,554890.0,555391.0
1,"Anaheim, CA",323931.0,337196.0,337307.0,324364.0,331183.0,333097.0,337761.0,338945.0,341682.0,342554.0,345316.0,348526.0,348339.0,347902.0,346513.0,349627.0,341397.0,339733.0,337347.0
2,"Anchorage, AK",262394.0,273891.0,275489.0,274493.0,281658.0,287257.0,291302.0,294856.0,297153.0,295739.0,293923.0,294284.0,290742.0,287322.0,283494.0,288241.0,285328.0,282911.0,282455.0
3,"Arlington, VA",188518.0,197518.0,201479.0,207456.0,214759.0,207215.0,212797.0,217781.0,222778.0,223171.0,225805.0,227423.0,231642.0,235053.0,234447.0,233778.0,230062.0,231368.0,231669.0
4,"Arlington, TX",343008.0,350919.0,353799.0,347097.0,374144.0,362376.0,368022.0,369930.0,373284.0,378644.0,382985.0,387022.0,390996.0,392840.0,393950.0,392033.0,388556.0,390590.0,392803.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",365149.0,375773.0,384454.0,383487.0,383104.0,388405.0,390146.0,388349.0,392521.0,394069.0,396815.0,398007.0,396452.0,396675.0,396163.0,397188.0,406721.0,407633.0,405937.0
83,"Vancouver, WA",153557.0,156168.0,154257.0,164519.0,163418.0,160519.0,163356.0,163438.0,164431.0,167021.0,171059.0,172257.0,173057.0,180893.0,181588.0,180199.0,190718.0,193170.0,193173.0
84,"VA Beach, VA",424961.0,428882.0,427861.0,428105.0,427625.0,433881.0,435581.0,441402.0,442863.0,444498.0,445849.0,446746.0,444913.0,445007.0,443674.0,445525.0,452133.0,449763.0,450178.0
85,"Washington, DC",505886.0,572680.0,579800.0,584439.0,592109.0,596747.0,611608.0,624847.0,636535.0,648586.0,663006.0,672022.0,684810.0,693798.0,697556.0,693253.0,661026.0,660942.0,670127.0
86,"Wichita, KS",347984.0,351349.0,355266.0,358047.0,364108.0,378148.0,379792.0,380372.0,380784.0,382385.0,383590.0,385045.0,385843.0,382995.0,384278.0,385454.0,390384.0,393547.0,392189.0

In [345]:
houseprices = pd.read_csv("../data/house_price.csv") 
housedata = houseprices[["RegionName", "2005-01-31","2006-01-31","2007-01-31", "2008-01-31", "2009-01-31", "2010-01-31", "2011-01-31", "2012-01-31", "2013-01-31", "2014-01-31", "2015-01-31", "2016-01-31", "2017-01-31", "2018-01-31", "2019-01-31", "2020-01-31", "2020-01-31", "2021-01-31", "2022-01-31", "2023-01-31"]]
housedata = housedata.sort_values(by='RegionName')
uniquecities = df_unem["City"].unique()
housedata = housedata[housedata["RegionName"].isin(uniquecities)]
housedata.reset_index(inplace=True)
housedata= housedata.drop(columns=['index'], errors='ignore')
housedata.columns = [col[:4] for col in housedata.columns]
housedata.rename(columns={'Regi': 'City'}, inplace=True)
housedata = housedata.dropna()
# uniquecities = housedata["City"].unique()
housedata.reset_index(inplace=True)
housedata= housedata.drop(columns=['index'], errors='ignore')

In [346]:
housedata

,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2020,2021,2022,2023
0,"Albuquerque, NM",153134.096654,170259.007619,193305.919721,200215.211429,187486.929321,180903.756614,171329.029725,164757.245024,163877.783060,...,169546.379112,176038.325622,183130.699662,189542.195949,1.980266e+05,2.129678e+05,2.129678e+05,2.410663e+05,2.805876e+05,3.081899e+05
1,"Anchorage, AK",207175.769453,226903.477999,243855.697573,253043.657003,253020.638590,253109.201265,252403.985149,249462.274330,264355.942255,...,281376.335271,292431.681403,293779.661377,295023.183711,2.973159e+05,3.240456e+05,3.240456e+05,3.282797e+05,3.492012e+05,3.637306e+05
2,"Atlanta, GA",179505.707068,186545.601636,192300.481437,191047.167478,171838.828357,152781.210858,139138.933143,125489.469946,131061.115550,...,169023.933257,183060.400400,196831.953236,213850.991653,2.323420e+05,2.448993e+05,2.448993e+05,2.713745e+05,3.335247e+05,3.669642e+05
3,"Austin, TX",186656.878020,192941.385211,199709.993663,207084.238475,201617.906762,198154.577123,192188.468231,190162.573456,201536.716014,...,248561.105165,271392.931472,287958.928699,298873.135564,3.083495e+05,3.223582e+05,3.223582e+05,3.667843e+05,4.954505e+05,4.995716e+05
4,"Baltimore, MD",240788.263853,287923.885227,308939.030866,304359.493716,278858.068520,259095.858290,245870.769189,232832.506267,240968.189706,...,259239.082824,265118.803553,271451.149002,279396.779775,2.869112e+05,2.966322e+05,2.966322e+05,3.193128e+05,3.489373e+05,3.633435e+05
5,"Boise City, ID",162945.736773,186409.778649,206345.542106,206413.261538,183679.969624,158313.829328,138677.775407,131903.353420,153299.471715,...,184594.983994,200005.423522,220266.965912,242832.875921,2.810533e+05,3.120372e+05,3.120372e+05,3.832637e+05,4.932281e+05,4.692484e+05
6,"Boston, MA",382715.968493,398584.115753,377807.712517,362087.048748,335987.747593,329631.904785,328532.876118,314696.995585,329627.266928,...,375171.911811,402685.595129,428359.342497,457286.235943,4.788747e+05,4.908629e+05,4.908629e+05,5.407756e+05,5.902593e+05,6.247166e+05
7,"Charlotte, NC",158158.778134,163575.501056,171928.977411,179513.455323,171800.455853,163543.225698,154086.630300,145167.451962,149210.006802,...,167340.161683,180624.052307,195158.159561,211730.427000,2.262089e+05,2.395141e+05,2.395141e+05,2.703884e+05,3.319213e+05,3.648160e+05
8,"Chicago, IL",225717.587667,246012.887969,255288.262533,250497.663970,223765.066690,201582.842850,186465.252079,170878.653276,167263.694859,...,196689.317741,206636.520325,216358.817461,228031.162400,2.352609e+05,2.401632e+05,2.401632e+05,2.564646e+05,2.813578e+05,2.951014e+05
9,"Cincinnati, OH",152092.496851,156955.395939,159202.015388,156781.664959,149453.601401,145555.410360,141293.057061,134287.134103,135560.421066,...,146468.346256,154387.478017,162246.146702,171235.495281,1.831568e+05,1.945426e+05,1.945426e+05,2.194252e+05,2.440402e+05,2.625134e+05
10,"Cleveland, OH",142794.303419,147024.694658,146576.027152,141066.642378,132698.256834,127238.537647,121999.912014,114934.093129,116848.595250,...,122229.454170,129020.998154,135205.676959,143099.875749,1.517702e+05,1.586330e+05,1.586330e+05,1.759147e+05,1.922760e+05,2.083523e+05
11,"Columbus, OH",151478.699343,155521.101439,156101.632518,153107.763322,147981.738895,142587.867648,139393.754637,132484.884654,132411.504985,...,150138.939914,161965.997787,170510.582980,183409.689425,1.969140e+05,2.110286e+05,2.110286e+05,2.371701e+05,2.644115e+05,2.905528e+05
12,"Corpus Christi, TX",114849.299583,124837.790002,132956.815212,138015.304855,131955.486629,129025.080954,125239.672379,124603.291439,125846.038607,...,141221.790732,154355.870390,161624.002247,164358.359935,1.670479e+05,1.790356e+05,1.790356e+05,1.886960e+05,2.099765e+05,2.185360e+05
13,"Dallas, TX",147163.845871,149820.397881,154261.606352,155765.405497,147353.907583,148283.675091,143571.884621,139809.676373,147788.355192,...,173311.494415,193933.775162,215245.091553,235773.777741,2.488064e+05,2.564281e+05,2.564281e+05,2.782707e+05,3.362704e+05,3.734008e+05
14,"Denver, CO",245011.192907,249682.287547,248671.777039,242442.365210,231580.699226,230834.659840,225020.106175,219535.375036,238259.934286,...,289884.098646,331333.309212,363470.154715,390851.768914,4.129090e+05,4.300309e+05,4.300309e+05,4.701503e+05,5.523323e+05,5.749119e+05
15,"Detroit, MI",158142.240956,160898.772346,156493.585095,142995.965980,114234.164921,92301.675948,86113.850016,81653.554512,90971.773837,...,124581.946403,135984.233823,147535.806868,161265.110072,1.730665e+05,1.825915e+05,1.825915e+05,2.004238e+05,2.219860e+05,2.345535e+05
16,"El Paso, TX",107505.497126,115509.694229,131852.633793,140341.048991,132443.321624,130218.273291,128165.884154,126416.761432,122309.674351,...,123008.728773,126069.652576,130055.570023,132687.107256,1.361623e+05,1.405415e+05,1.405415e+05,1.544328e+05,1.775831e+05,2.007688e+05
17,"Fresno, CA",228079.666185,287424.364691,296337.396094,260443.997463,190998.151377,167148.752108,157379.245365,139435.150894,155806.257106,...,195926.526206,210832.440370,224378.606196,244866.387286,2.628318e+05,2.744019e+05,2.744019e+05,3.025499e+05,3.568204e+05,3.759362e+05
18,"Greensboro, NC",124967.042286,129571.609816,133732.171489,136221.736197,133113.136143,127457.085991,123482.391401,117303.447851,119844.786131,...,126940.028440,132146.928913,139380.489472,147264.198257,1.577135e+05,1.688890e+05,1.688890e+05,1.899676e+05,2.145929e+05,2.374657e+05
19,"Houston, TX",143523.243113,146047.592639,151635.555754,154600.254961,148187.328341,148902.587371,144841.177591,139720.487545,143032.548451,...,175697.426045,191126.252074,199072.096632,206115.740610,2.154846e+05,2.230025e+05,2.230025e+05,2.385839e+05,2.787775e+05,3.056677e+05
20,"Jacksonville, FL",174047.389705,204591.254743,227424.425142,216510.998103,189305.213011,167010.225193,150834.093714,136169.575526,140099.705390,...,166755.055772,178543.601571,191971.503274,208190.546530,2.247972e+05,2.352618e+05,2.352618e+05,2.571905e+05,3.168291e+05,3.606115e+05
21,"Las Vegas, NV",287682.276314,326069.732624,331034.263031,287573.379310,197393.670671,146045.801425,136313.964565,122499.866031,137086.833646,...,193721.419112,208891.396797,220700.285818,254582.090167,2.878294e+05,2.950604e+05,2.950604e+05,3.150245e+05,3.895270e+05,4.128341e+05
22,"Lincoln, NE",150013.243967,155128.805512,157373.941080,156131.376410,152766.970249,152733.111285,151800.379674,149137.508461,149622.864711,...,157818.585497,168237.695602,177569.638131,187601.133232,1.980887e+05,2.070641e+05,2.070641e+05,2.250837e+05,2.525487e+05,2.713718e+05
23,"Los Angeles, CA",482685.075019,568646.314603,592514.716450,540041.921607,421051.676664,405475.064010,391494.696634,370074.646865,401373.161558,...,507334.924535,500245.071899,535022.399246,601194.672760,6.607937e+05,6.703675e+05,6.703675e+05,7.358328e+05,8.384342e+05,8.739745e+05
24,"Madison, WI",198245.478564,212246.023689,218250.281570,221647.128335,210889.901485,209537.352525,202890.555916,196827.423291,200090.084394,...,217558.163403,231510.844178,246393.614763,260670.936838,2.744606e+05,2.877252e+05,2.877252e+05,3.137153e+05,3.428614e+05,3.706476e+05
25,"Memphis, TN",126389.121486,131612.680893,136456.256992,134213.574500,122717.987676,115172.709005,111071.097044,106706.290492,108248.157183,...,119393.465335,125148.685742,131018.193477,140846.612939,1.519512e+05,1.634548e+05,1.634548e+05,1.846109e+05,2.163384e+05,2.366809e+05
26,"Milwaukee, WI",201911.370128,218158.203080,221919.137683,220344.355846,203325.761398,197350.388661,185973.736670,173688.832037,174292.191792,...,188381.405784,197624.157007,209055.191603,220097.595780,2.322404e+05,2.456934e+05,2.456934e+05,2.688742e+05,2.884314e+05,3.092149e+05
27,"Minneapolis, MN",238437.489903,251872.955922,252019.777317,241077.663583,214389.732533,203061.056258,192552.479921,174122.458784,190503.627254,...,221518.445250,236173.860292,251444.711044,268704.559650,2.845950e+05,2.974867e+05,2.974867e+05,3.229809e+05,3.568537e+05,3.677206e+05
28,"Montgomery, AL",123464.414219,132085.591484,140912.200093,145642.063733,143891.313538,136463.415679,130159.085894,126079.160028,124507.705853,...,128533.120292,129830.093542,130759.335206,132749.275967,1.358810e+05,1.431793e+05,1.431793e+05,1.527973e+05,1.717688e+05,1.847809e+05
29,"New Orleans, LA",172678.059586,189069.869317,205777.975220,210956.869226,200356.289408,196634.610832,192413.787551,185580.787817,186788.010367,...,195941.289331,205549.660270,209921.132268,212447.721072,2.137803e+05,2.280245e+05,2.280245e+05,2.430996e+05,2.652442e+05,2.620998e+05
30,"Omaha, NE",141894.643375,147507.472410,151858.732507,149156.572481,141249.844369,147027.449959,139988.832400,137605.866324,140149.903288,...,149227.002491,158494.174119,166297.754709,177739.151425,1.878440e+05,2.006444e+05,2.006444e+05,2.228538e+05,2.455762e+05,2.691967e+05
31,"Orlando, FL",182152.543859,241485.832264,266076.178193,240915.384025,182059.627248,147762.601138,133568.712419,124046.840172,135615.318996,...,175805.459465,190086.964858,206244.878355,224841.359474,2.427915e+05,2.559450e+05,2.559450e+05,2.776672e+05,3.331388e+05,3.842142e+05
32,"Philadelphia, PA",199515.351740,228025.854218,239576.541384,239167.038501,226266.961975,219674.689775,212111.880899,200090.907259,198223.550834,...,207392.472043,215122.920012,223463.684607,233547.503371,2.419425e+05,2.530201e+05,2.530201e+05,2.802956e+05,3.077925e+05,3.319121e+05
33,"Phoenix, AZ",200405.060404,286482.744399,290097.952644,263124.923427,188846.940312,159756.426769,141663.642422,134495.966098,165192.745607,...,204581.623922,224658.200622,238635.851665,255694.959132,2.756903e+05,2.939501e+05,2.939501e+05,3.395681e+05,4.387415e+05,4.502707e+05
34,"Pittsburgh, PA",108481.245528,113226.530246,115856.981982,118485.665451,117640.899684,120418.706180,122541.139808,121071.432617,122996.545096,...,132416.119637,139115.864993,143746.549786,149782.925848,1.552907e+05,1.634972e+05,1.634972e+05,1.817290e+05,1.952951e+05,2.016472e+05
35,"Portland, OR",224313.262934,271016.156204,305623.008658,309033.615897,279472.377913,256840.604400,239948.471215,221911.491086,235544.777038,...,286777.362270,325885.769013,364017.607513,387261.176248,4.013696e+05,4.149250e+05,4.149250e+05,4.579171e+05,5.283023e+05,5.373461e+05
36,"Raleigh, NC",192476.622368,202293.967365,214837.586970,223589.226884,216287.761229,209981.766191,204561.254151,194434.985962,198460.739520,...,218868.428022,234986.178921,250321.726194,264369.143277,2.785238e+05,2.909261e+05,2.909261e+05,3.161448e+05,3.958097e+05,4.328020e+05
37,"Reno, NV",318308.856639,379501.730697,361512.873363,320606.468787,250249.307486,198043.069399,183268.274946,161858.425821,174608.156567,...,246417.998736,287533.572594,311886.976219,342959.245881,3.765483e+05,3.879077e+05,3.879077e+05,4.303451e+05,5.359219e+05,5.314365e+05
38,"Richmond, VA",178776.490270,204510.084177,222116.984609,224511.770114,214118.636639,201437.383236,191292.774139,179839.903693,183716.575003,...,196473.020713,206321.607809,217445.482749,228919.686523,2.394751e+05,2.523782e+05,2.523782e+05,2.781597e+05,3.108770e+05,3.420007e+05
39,"Riverside, CA",301134.466322,364254.717954,387445.048806,339499.724599,221431.878603,192071.169362,193359.042908,184669.818261,199653.306301,...,279855.999230,295026.542424,303946.340972,351524.670331,3.703359e+05,3.830150e+05,3.830150e+05,4.265540e+05,5.194627e+05,5.507506e+05
40,"Sacramento, CA",370444.236788,432095.331335,406381.052899,350605.256796,271752.490179,242502.744798,229964.944313,207878.784180,229421.826402,...,311321.381039,338164.524468,365475.362840,397881.036154,4.153365e+05,4.318662e+05,4.318662e+05,4.772010e+05,5.652754e+05,5.639795e+05
41,"Salem, OR",173265.511303,196780.611792,227039.163438,235068.813094,219498.230218,203151.906395,190405.970666,170972.983552,167765.084158,...,193203.960686,216519.480969,244075.987357,271420.305847,2.996577e+05,3.160747e+05,3.160747e+05,3.532370e+05,4.151735e+05,4.310827e+05
42,"Salt Lake City, UT",186991.726321,196267.100040,232752.954863,263756.478147,241113.073112,217962.259184,203609.875799,191032.203873,212163.530619,...,245611.086517,270592.282727,289596.415677,319338.010110,3.459505e+05,3.683323e+05,3.683323e+05,4.217428e+05,5.168483e+05,5.338229e+05
43,"San Antonio, TX",127827.253712,132724.257440,142522.424680,149282.616741,145537.729817,141557.078363,139639.061361,135933.685401,140376.403583,...,159338.902820,172554.231739,183136.745419,194252.413917,2.041088e+05,2.129165e+05,2.129165e+05,2.313215e+05,2.727588e+05,2.962085e+05
44,"San Diego, CA",502369.819897,537251.550430,521254.925559,466843.722633,372563.918511,360681.315025,353167.641908,333612.304486,363253.644456,...,456064.658041,496200.909299,528554.146232,570331.900832,5.868660e+05,6.015295e+05,6.015295e+05,6.700203e+05,7.905152e+05,8.372841e+05
45,"San Francisco, CA",549222.810164,633241.593949,632632.512900,588033.683149,501722.077253,473635.967033,459901.048692,428398.678805,487081.235784,...,660537.652251,758040.879676,792044.936594,871812.524067,9.244190e+05,9.278612e+05,9.278612e+05,9.984783e+05,1.138490e+06,1.107590e+06
46,"San Jose, CA",585323.567316,674026.119129,681322.413702,655512.563403,530909.465727,507448.808559,494707.669668,471878.041537,591629.358829,...,776199.243784,887225.135845,856426.239697,949472.046429,1.187780e+06,1.109759e+06,1.109759e+06,1.215834e+06,1.406167e+06,1.406516e+06
47,"Seattle, WA",299643.152814,352198.212910,398889.774715,405935.688966,357748.302029,323666.748708,297615.072646,266714.374457,271791.400173,...,328651.262988,369860.990474,411681.331586,465920.485372,4.968683e+05,5.115027e+05,5.115027e+05,5.795143e+05,6.807975e+05,7.000599e+05
48,"Spokane, WA",149286.852447,175157.602621,198770.933682,206521.276671,190549.266225,184237.129581,170578.696745,161107.206311,160524.819243,...,171104.340326,185109.776177,200549.097982,220266.242872,2.462507e+05,2.754020e+05,2.754020e+05,3.215654e+05,3.909707e+05,4.084563e+05
49,"St. Louis, MO",154215.565746,162930.770432,167711.763025,166027.259342,159003.783035,154007.853079,147942.872750,137981.028020,138095.402059,...,145095.182249,152134.373638,158597.263239,166315.628352,1.727683e+05,1.800817e+05,1.800817e+05,1.986273e+05,2.171242e+05,2.328062e+05
50,"Stockton, CA",342032.062837,426861.491036,426161.947316,323037.861370,191671.180491,175485.680421,172814.513695,156025.063059,175684.005915,...,261763.637527,290144.494669,317881.836659,350203.184853,3.752855e+05,3.887694e+05,3.887694e+05,4.321335e+05,5.147848e+05,5.205295e+05
51,"Tampa, FL",169048.252470,211507.508865,227733.699247,201667.486406,161729.670316,139153.283474,128574.885124,116206.529386,124118.312206,...,154836.496868,170746.462467,188203.049506,205975.461962,2.203677e+05,2.328174e+05,2.328174e+05,2.587390e+05,3.248462e+05,3.718755e+05
52,"Toledo, OH",109622.811386,112626.456894,113290.312744,108895.687372,104004.389466,99063.685289,95475.972633,91091.371762,91705.200340,...,100453.275975,108506.912691,112995.006628,120007.336774,1.262542e+05,1.334011e+05,1.334011e+05,1.490989e+05,1.584909e+05,1.694000e+05
53,"Tucson, AZ",174185.072014,226725.239235,235879.680250,223009.080649,191140.580203,171524.134838,156746.039822,136212.564846,153919.239608,...,172410.651885,178974.895500,188631.299760,201440.328416,2.148291e+05,2.312244e+05,2.312244e+05,2.613458e+05,3.188213e+05,3.389318e+05
54,"Tulsa, OK",119011.428512,122572.236610,126631.155753,128703.725609,128249.297829,128489.292442,126555.345950,122320.595856,124317.416528,...,132175.712739,133695.855264,142860.749094,144607.245824,1.519467e+05,1.610562e+05,1.610562e+05,1.796465e+05,2.057176e+05,2.235140e+05
55,"Washington, DC",353870.310624,425827.446853,431580.115027,401361.672296,339165.992536,319790.067157,318414.811863,314068.095519,336099.631543,...,373022.696856,383018.369391,391994.521572,405671.256961,4.187724e+05,4.348662e+05,4.348662e+05,4.731899e+05,5.142910e+05,5.322755e+05
56,"Wichita, KS",109902.909894,107354.068820,111378.148774,114261.777919,115047.300787,117629.032166,114371.627302,110632.660399,111972.287113,...,115130.546461,121298.549765,124458.587128,128795.614263,1.345781e+05,1.446990e+05,1.446990e+05,1.584859e+05,1.772564e+05,1.943983e+05

In [347]:
uniquecities = housedata["City"].unique()
df_income_cr = df_income[df_income["City"].isin(uniquecities)]
df_income_cr.reset_index(inplace=True)
df_income_cr= df_income_cr.drop(columns=['index'], errors='ignore')
df_unem_cr = df_unem[df_unem["City"].isin(uniquecities)]
df_unem_cr.reset_index(inplace=True)
df_unem_cr= df_unem_cr.drop(columns=['index'], errors='ignore')
df_age_cr = df_age[df_age["City"].isin(uniquecities)]
df_age_cr.reset_index(inplace=True)
df_age_cr= df_age_cr.drop(columns=['index'], errors='ignore')
df_geomob_cr = df_geomob[df_geomob["City"].isin(uniquecities)]
df_geomob_cr.reset_index(inplace=True)
df_geomob_cr= df_geomob_cr.drop(columns=['index'], errors='ignore')

In [349]:
df_income_cr.to_csv('../data/income_57cities.csv')
df_unem_cr.to_csv('../data/unemployment_57cities.csv')
df_age_cr.to_csv('../data/medianage_57cities.csv')
df_geomob_cr.to_csv('../data/geomobility_57cities.csv')
housedata.to_csv('../data/houseprice_57cities.csv')

0      Albuquerque, NM
1          Atlanta, GA
2           Austin, TX
3        Baltimore, MD
4           Boston, MA
5          Buffalo, NY
6        Charlotte, NC
7          Chicago, IL
8       Cincinnati, OH
9        Cleveland, OH
10        Columbus, OH
11          Dallas, TX
12          Denver, CO
13         Detroit, MI
14          Fresno, CA
15         Houston, TX
16    Jacksonville, FL
17         Memphis, TN
18           Miami, FL
19       Milwaukee, WI
20     Minneapolis, MN
21           Omaha, NE
22         Orlando, FL
23    Philadelphia, PA
24         Phoenix, AZ
25      Pittsburgh, PA
26        Portland, OR
27         Raleigh, NC
28      Sacramento, CA
29         Seattle, WA
30           Tampa, FL
31          Tucson, AZ
32           Tulsa, OK
33      Washington, DC
34         Wichita, KS
Name: City, dtype: object