In [29]:
import requests
import pandas as pd

years = range(2005, 2024)  # From 2010 to 2022
data = []

# Replace with your API key
API_KEY = '59951fa51ae0813c57d78e2f22413294efb566a6'

# DP03_0003E, DP03_0005E
for year in years:
    if year > 2010:
        # For years greater than 2010, make a single API call to get all data
        if(year != 2020):
            url = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,B01001_001E,B19013_001E,B23025_005E,B23025_003E,B01002_001E,B07001_001E&for=place:*&key={API_KEY}"
        else:
            url = f"https://api.census.gov/data/{year}/acs/acs5?get=NAME,B01001_001E,B19013_001E,B23025_005E,B23025_003E,B01002_001E,B07001_001E&for=place:*&key={API_KEY}"
        response = requests.get(url)
        if response.status_code != 200:
            print(f"Failed to fetch data for year {year}")
            continue
        json_data = response.json()
        for row in json_data[1:]:  # Skip the header row
            city_name = row[0]
            try:
                population = int(row[1])
                mean_income = float(row[2])
                unemployed = float(row[3])
                total_labor_force = float(row[4])
                median_age = float(row[5])
                geo_mobility = float(row[6])
            except:
                population = 0

            # Filter for population greater than 250,000
            if population > 100000:
                data.append({
                    'Year': year,
                    'City': city_name,
                    'Total Population': population,
                    'Mean Household Income': mean_income,
                    'Unemployment Rate': unemployed/total_labor_force*100,
                    'Median Age': median_age,
                    'Geographic Mobility': geo_mobility,
                })
    else:
        # For years <= 2010, make two API calls: one for general data and one for unemployment data
        url_general = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,B01001_001E,B19013_001E,B01002_001E,B07001_001E&for=place:*&key={API_KEY}"
        url_unemployment = f"https://api.census.gov/data/{year}/acs/acs1/profile?get=NAME,DP03_0003E,DP03_0005E&for=place:*&key={API_KEY}"
        
        response_general = requests.get(url_general)
        response_unemployment = requests.get(url_unemployment)
        
        if response_general.status_code != 200 or response_unemployment.status_code != 200:
            print(f"Failed to fetch data for year {year}")
            continue
        
        json_data_general = response_general.json()
        json_data_unemployment = response_unemployment.json()
        
        # Create a lookup for unemployment data by city name
        unemployment_dict = {}
        for row in json_data_unemployment[1:]:  # Skip the header row
            city_name = row[0]
            try:
                unemployed = float(row[1])
                total_labor_force = float(row[2])
                unemployment_dict[city_name] = (unemployed, total_labor_force)
            except:
                unemployment_dict[city_name] = (0, 0)
        
        for row in json_data_general[1:]:  # Skip the header row
            city_name = row[0]
            try:
                population = int(row[1])
                mean_income = float(row[2])
                median_age = float(row[3])
                geo_mobility = float(row[4])
                unemployed, total_labor_force = unemployment_dict.get(city_name, (0, 0))
            except:
                population = 0

            # Filter for population greater than 100,000
            if population > 100000:
                if total_labor_force > 0:  # Prevent division by zero
                    unemployment_rate = unemployed / total_labor_force 
                else:
                    unemployment_rate = None
                
                data.append({
                    'Year': year,
                    'City': city_name,
                    'Total Population': population,
                    'Mean Household Income': mean_income,
                    'Unemployment Rate': unemployment_rate,
                    'Median Age': median_age,
                    'Geographic Mobility': geo_mobility,
                })

# Create a DataFrame
df = pd.DataFrame(data)
state_abbreviation_map = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI',
    'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY'
}

# Step 2: Replace state names with abbreviations in the 'City' column
def replace_state_names(city_name):
    for state, abbrev in state_abbreviation_map.items():
        if state in city_name:
            return city_name.replace(state, abbrev)
    return city_name
pivot_income = df.pivot(index='City', columns='Year', values='Mean Household Income')
df_income = pivot_income
df_income = df_income.dropna()
# cleaning out stuff
df_income.reset_index(inplace=True)
df_income = df_income[~df_income['City'].str.contains("Puerto Rico", case=False, na=False)]
df_income['City'] = df_income['City'].str.replace(r' \bcity\b', '', regex=True)
df_income['City'] = df_income['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_income['City'] = df_income['City'].str.replace(r' \bCDP\b', '', regex=True)
df_income['City'] = df_income['City'].str.strip()
df_income['City'] = df_income['City'].apply(replace_state_names)
df_income.reset_index(inplace=True)
df_income = df_income.drop(columns=['index'], errors='ignore')
df_income

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",41820.0,43021.0,43677.0,46437.0,44594.0,46079.0,43606.0,45373.0,48357.0,46433.0,47096.0,50522.0,50456.0,51099.0,55567.0,53936.0,58512.0,64757.0,67907.0
1,"Anaheim, CA",52158.0,55720.0,57059.0,61128.0,55154.0,54157.0,56858.0,55464.0,57550.0,62198.0,63104.0,64464.0,70395.0,76154.0,76075.0,76723.0,81747.0,85133.0,84872.0
2,"Anchorage, AK",61217.0,63656.0,68726.0,75637.0,72832.0,72128.0,72813.0,72575.0,79045.0,76337.0,78662.0,85634.0,79166.0,83648.0,82716.0,84813.0,86654.0,100751.0,94437.0
3,"Arlington, VA",80433.0,87350.0,94876.0,101171.0,96218.0,94986.0,100735.0,100474.0,102501.0,109266.0,106768.0,110388.0,117237.0,122394.0,119755.0,122604.0,125651.0,132380.0,140219.0
4,"Arlington, TX",48992.0,50582.0,50447.0,52777.0,50938.0,48752.0,50655.0,51285.0,51400.0,52141.0,53487.0,54272.0,57083.0,63091.0,61716.0,63351.0,59889.0,70433.0,69208.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",35966.0,36137.0,38270.0,39657.0,38426.0,38220.0,40123.0,40440.0,41495.0,42803.0,43322.0,43134.0,45894.0,47583.0,49158.0,49474.0,51008.0,54040.0,56821.0
83,"Vancouver, WA",40743.0,45884.0,47989.0,50990.0,45701.0,47307.0,48909.0,45718.0,47379.0,51478.0,51988.0,56615.0,61079.0,60988.0,66679.0,63617.0,69993.0,76799.0,80618.0
84,"VA Beach, VA",58545.0,61333.0,61462.0,65776.0,59298.0,64212.0,64614.0,61626.0,62855.0,68816.0,67281.0,71117.0,72586.0,77059.0,79054.0,78136.0,81634.0,83245.0,91141.0
85,"Washington, DC",47221.0,51847.0,54317.0,57936.0,59290.0,60903.0,63124.0,66583.0,67572.0,71648.0,75628.0,75506.0,82372.0,85203.0,92266.0,90842.0,90088.0,101027.0,108210.0
86,"Wichita, KS",40115.0,41089.0,42696.0,44211.0,44405.0,42694.0,44184.0,43776.0,43538.0,45477.0,46894.0,49202.0,50504.0,51051.0,55056.0,53466.0,56293.0,59277.0,61281.0

In [30]:
pivot_unem = df.pivot(index='City', columns='Year', values='Unemployment Rate')
df_unem = pivot_unem
df_unem = df_unem.dropna()
# cleaning out stuff
df_unem.reset_index(inplace=True)
df_unem = df_unem[~df_unem['City'].str.contains("Puerto Rico", case=False, na=False)]
df_unem['City'] = df_unem['City'].str.replace(r' \bcity\b', '', regex=True)
df_unem['City'] = df_unem['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_unem['City'] = df_unem['City'].str.replace(r' \bCDP\b', '', regex=True)
df_unem['City'] = df_unem['City'].str.strip()
df_unem['City'] = df_unem['City'].apply(replace_state_names)
df_unem.reset_index(inplace=True)
df_unem = df_unem.drop(columns=['index'], errors='ignore')
df_unem

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",14.533702,18.786019,19.911130,19.150972,13.877965,12.436434,10.542100,8.817330,7.260191,8.308843,6.681222,5.212342,4.805098,5.734425,5.082790,5.594741,6.105605,4.188383,4.337847
1,"Anaheim, CA",14.052579,17.116733,15.048664,11.264549,8.316300,6.947624,11.514510,11.795449,9.850070,6.379095,6.688202,5.687834,4.870972,4.212351,3.736232,5.253194,7.739288,3.760461,4.800021
2,"Anchorage, AK",12.813669,12.609018,14.652567,16.511551,13.173254,11.754007,7.661335,6.494628,6.606993,5.718332,6.380028,5.161294,5.820640,5.451503,5.422420,5.234905,6.645122,4.071370,4.253729
3,"Arlington, VA",31.389930,49.631138,39.573277,42.709646,17.357022,23.814249,3.375747,4.198722,3.452558,3.231800,4.125580,2.790432,2.515723,2.024391,2.240866,2.845019,3.427225,1.953504,3.585866
4,"Arlington, TX",11.645064,13.063362,16.550008,16.860931,11.282053,8.792764,9.248439,8.889318,7.271395,6.764301,4.317417,4.675709,4.355157,3.586946,5.522196,5.207499,6.383448,4.230644,3.797428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",14.075982,14.096175,16.782754,21.912674,13.843573,10.640480,8.010352,7.862066,7.173986,5.581463,6.377931,7.008047,6.854466,5.031363,5.547656,6.213191,7.054247,4.833533,6.023028
83,"Vancouver, WA",11.566898,12.620030,13.386219,12.329842,6.921437,6.491887,11.518850,11.966959,9.433639,9.233544,5.439369,5.538916,6.108281,4.402471,4.667593,5.034493,7.572812,6.928904,4.225046
84,"VA Beach, VA",20.551649,25.859625,27.103135,20.557803,15.339974,15.152082,6.348781,7.094098,6.254390,5.334866,5.622950,4.695007,3.980565,4.218738,4.146352,4.379281,4.135830,3.412326,4.105642
85,"Washington, DC",10.958860,11.788686,12.381388,12.881559,9.013277,8.060211,11.377442,10.342908,10.446569,8.859504,7.250638,6.919595,6.590778,7.541190,6.263807,7.119626,8.200761,5.112622,5.258939
86,"Wichita, KS",12.318049,13.096823,15.245344,16.408939,9.897806,8.734963,10.462393,8.034788,7.482116,6.848021,4.994331,5.754310,6.689720,4.901292,5.507219,5.570981,7.203338,6.025616,4.093885

In [31]:
pivot_age = df.pivot(index='City', columns='Year', values='Median Age')
df_age = pivot_age
df_age = df_age.dropna()
# cleaning out stuff
df_age.reset_index(inplace=True)
df_age = df_age[~df_age['City'].str.contains("Puerto Rico", case=False, na=False)]
df_age['City'] = df_age['City'].str.replace(r' \bcity\b', '', regex=True)
df_age['City'] = df_age['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_age['City'] = df_age['City'].str.replace(r' \bCDP\b', '', regex=True)
df_age['City'] = df_age['City'].str.strip()
df_age['City'] = df_age['City'].apply(replace_state_names)
df_age.reset_index(inplace=True)
df_age = df_age.drop(columns=['index'], errors='ignore')
df_age

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",35.8,35.3,35.2,35.5,34.0,35.2,35.5,35.3,35.8,35.7,36.0,36.5,37.0,37.2,37.3,37.1,38.9,38.4,39.2
1,"Anaheim, CA",30.0,32.2,32.5,31.9,32.2,32.7,32.1,33.2,33.8,34.2,33.6,34.1,34.3,34.4,35.2,34.8,37.2,36.0,37.1
2,"Anchorage, AK",33.8,33.5,33.3,33.4,32.3,32.7,32.9,33.0,32.4,32.1,32.2,33.0,34.0,34.3,34.2,33.9,35.2,35.4,36.0
3,"Arlington, VA",36.7,37.7,37.2,38.0,33.2,33.5,33.9,33.6,33.8,34.0,34.4,34.8,34.8,34.7,35.0,34.8,35.9,35.4,35.7
4,"Arlington, TX",31.6,31.6,31.4,32.0,31.4,32.0,31.2,31.9,32.4,33.2,32.6,32.4,33.1,33.1,33.6,32.9,34.7,32.8,34.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",35.3,36.1,35.6,35.8,34.9,35.1,34.8,34.8,34.7,35.4,35.0,34.5,35.5,35.4,35.5,35.2,35.9,35.8,35.7
83,"Vancouver, WA",34.6,35.1,36.0,34.8,38.1,36.8,38.0,36.0,36.0,36.3,37.2,36.3,37.1,37.4,36.9,37.1,39.4,36.8,38.1
84,"VA Beach, VA",34.9,35.5,35.8,36.5,34.3,34.9,34.9,34.9,35.0,35.2,35.4,35.8,36.2,36.5,36.6,36.4,37.1,37.8,38.2
85,"Washington, DC",35.9,35.0,34.9,34.9,35.1,33.9,33.4,33.7,33.8,33.8,33.8,33.9,34.0,33.9,34.3,34.1,34.8,34.9,34.9
86,"Wichita, KS",34.2,34.8,35.0,34.0,34.3,33.9,34.3,35.1,34.0,34.0,34.6,34.7,35.9,35.3,35.3,35.3,35.6,36.2,36.8

In [32]:
pivot_geomob = df.pivot(index='City', columns='Year', values='Geographic Mobility')
df_geomob = pivot_geomob
df_geomob = df_geomob.dropna()
# cleaning out stuff
df_geomob.reset_index(inplace=True)
df_geomob = df_geomob[~df_geomob['City'].str.contains("Puerto Rico", case=False, na=False)]
df_geomob['City'] = df_geomob['City'].str.replace(r' \bcity\b', '', regex=True)
df_geomob['City'] = df_geomob['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df_geomob['City'] = df_geomob['City'].str.replace(r' \bCDP\b', '', regex=True)
df_geomob['City'] = df_geomob['City'].str.strip()
df_geomob['City'] = df_geomob['City'].apply(replace_state_names)
df_geomob.reset_index(inplace=True)
df_geomob = df_geomob.drop(columns=['index'], errors='ignore')
df_geomob

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",482442.0,485982.0,505490.0,506706.0,519532.0,540574.0,544579.0,548340.0,549629.0,550317.0,552275.0,553849.0,551049.0,553759.0,553804.0,554784.0,558997.0,554890.0,555391.0
1,"Anaheim, CA",323931.0,337196.0,337307.0,324364.0,331183.0,333097.0,337761.0,338945.0,341682.0,342554.0,345316.0,348526.0,348339.0,347902.0,346513.0,349627.0,341397.0,339733.0,337347.0
2,"Anchorage, AK",262394.0,273891.0,275489.0,274493.0,281658.0,287257.0,291302.0,294856.0,297153.0,295739.0,293923.0,294284.0,290742.0,287322.0,283494.0,288241.0,285328.0,282911.0,282455.0
3,"Arlington, VA",188518.0,197518.0,201479.0,207456.0,214759.0,207215.0,212797.0,217781.0,222778.0,223171.0,225805.0,227423.0,231642.0,235053.0,234447.0,233778.0,230062.0,231368.0,231669.0
4,"Arlington, TX",343008.0,350919.0,353799.0,347097.0,374144.0,362376.0,368022.0,369930.0,373284.0,378644.0,382985.0,387022.0,390996.0,392840.0,393950.0,392033.0,388556.0,390590.0,392803.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",365149.0,375773.0,384454.0,383487.0,383104.0,388405.0,390146.0,388349.0,392521.0,394069.0,396815.0,398007.0,396452.0,396675.0,396163.0,397188.0,406721.0,407633.0,405937.0
83,"Vancouver, WA",153557.0,156168.0,154257.0,164519.0,163418.0,160519.0,163356.0,163438.0,164431.0,167021.0,171059.0,172257.0,173057.0,180893.0,181588.0,180199.0,190718.0,193170.0,193173.0
84,"VA Beach, VA",424961.0,428882.0,427861.0,428105.0,427625.0,433881.0,435581.0,441402.0,442863.0,444498.0,445849.0,446746.0,444913.0,445007.0,443674.0,445525.0,452133.0,449763.0,450178.0
85,"Washington, DC",505886.0,572680.0,579800.0,584439.0,592109.0,596747.0,611608.0,624847.0,636535.0,648586.0,663006.0,672022.0,684810.0,693798.0,697556.0,693253.0,661026.0,660942.0,670127.0
86,"Wichita, KS",347984.0,351349.0,355266.0,358047.0,364108.0,378148.0,379792.0,380372.0,380784.0,382385.0,383590.0,385045.0,385843.0,382995.0,384278.0,385454.0,390384.0,393547.0,392189.0

In [33]:
houseprices = pd.read_csv("../data/house_price.csv") 
housedata = houseprices[["RegionName", "2005-01-31","2006-01-31","2007-01-31", "2008-01-31", "2009-01-31", "2010-01-31", "2011-01-31", "2012-01-31", "2013-01-31", "2014-01-31", "2015-01-31", "2016-01-31", "2017-01-31", "2018-01-31", "2019-01-31", "2020-01-31", "2020-01-31", "2021-01-31", "2022-01-31", "2023-01-31"]]
housedata = housedata.sort_values(by='RegionName')
uniquecities = df_unem["City"].unique()
housedata = housedata[housedata["RegionName"].isin(uniquecities)]
housedata.reset_index(inplace=True)
housedata= housedata.drop(columns=['index'], errors='ignore')
housedata.columns = [col[:4] for col in housedata.columns]
housedata.rename(columns={'Regi': 'City'}, inplace=True)
housedata = housedata.dropna()
# uniquecities = housedata["City"].unique()
housedata.reset_index(inplace=True)
housedata= housedata.drop(columns=['index'], errors='ignore')

In [34]:
housedata

,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2020,2021,2022,2023
0,"Albuquerque, NM",153134.096654,170259.007619,193305.919721,200215.211429,187486.929321,180903.756614,171329.029725,164757.245024,163877.783060,...,169546.379112,176038.325622,183130.699662,189542.195949,1.980266e+05,2.129678e+05,2.129678e+05,2.410663e+05,2.805876e+05,3.081899e+05
1,"Anchorage, AK",207175.769453,226903.477999,243855.697573,253043.657003,253020.638590,253109.201265,252403.985149,249462.274330,264355.942255,...,281376.335271,292431.681403,293779.661377,295023.183711,2.973159e+05,3.240456e+05,3.240456e+05,3.282797e+05,3.492012e+05,3.637306e+05
2,"Atlanta, GA",179505.707068,186545.601636,192300.481437,191047.167478,171838.828357,152781.210858,139138.933143,125489.469946,131061.115550,...,169023.933257,183060.400400,196831.953236,213850.991653,2.323420e+05,2.448993e+05,2.448993e+05,2.713745e+05,3.335247e+05,3.669642e+05
3,"Austin, TX",186656.878020,192941.385211,199709.993663,207084.238475,201617.906762,198154.577123,192188.468231,190162.573456,201536.716014,...,248561.105165,271392.931472,287958.928699,298873.135564,3.083495e+05,3.223582e+05,3.223582e+05,3.667843e+05,4.954505e+05,4.995716e+05
4,"Baltimore, MD",240788.263853,287923.885227,308939.030866,304359.493716,278858.068520,259095.858290,245870.769189,232832.506267,240968.189706,...,259239.082824,265118.803553,271451.149002,279396.779775,2.869112e+05,2.966322e+05,2.966322e+05,3.193128e+05,3.489373e+05,3.633435e+05
5,"Boise City, ID",162945.736773,186409.778649,206345.542106,206413.261538,183679.969624,158313.829328,138677.775407,131903.353420,153299.471715,...,184594.983994,200005.423522,220266.965912,242832.875921,2.810533e+05,3.120372e+05,3.120372e+05,3.832637e+05,4.932281e+05,4.692484e+05
6,"Boston, MA",382715.968493,398584.115753,377807.712517,362087.048748,335987.747593,329631.904785,328532.876118,314696.995585,329627.266928,...,375171.911811,402685.595129,428359.342497,457286.235943,4.788747e+05,4.908629e+05,4.908629e+05,5.407756e+05,5.902593e+05,6.247166e+05
7,"Charlotte, NC",158158.778134,163575.501056,171928.977411,179513.455323,171800.455853,163543.225698,154086.630300,145167.451962,149210.006802,...,167340.161683,180624.052307,195158.159561,211730.427000,2.262089e+05,2.395141e+05,2.395141e+05,2.703884e+05,3.319213e+05,3.648160e+05
8,"Chicago, IL",225717.587667,246012.887969,255288.262533,250497.663970,223765.066690,201582.842850,186465.252079,170878.653276,167263.694859,...,196689.317741,206636.520325,216358.817461,228031.162400,2.352609e+05,2.401632e+05,2.401632e+05,2.564646e+05,2.813578e+05,2.951014e+05
9,"Cincinnati, OH",152092.496851,156955.395939,159202.015388,156781.664959,149453.601401,145555.410360,141293.057061,134287.134103,135560.421066,...,146468.346256,154387.478017,162246.146702,171235.495281,1.831568e+05,1.945426e+05,1.945426e+05,2.194252e+05,2.440402e+05,2.625134e+05
10,"Cleveland, OH",142794.303419,147024.694658,146576.027152,141066.642378,132698.256834,127238.537647,121999.912014,114934.093129,116848.595250,...,122229.454170,129020.998154,135205.676959,143099.875749,1.517702e+05,1.586330e+05,1.586330e+05,1.759147e+05,1.922760e+05,2.083523e+05
11,"Columbus, OH",151478.699343,155521.101439,156101.632518,153107.763322,147981.738895,142587.867648,139393.754637,132484.884654,132411.504985,...,150138.939914,161965.997787,170510.582980,183409.689425,1.969140e+05,2.110286e+05,2.110286e+05,2.371701e+05,2.644115e+05,2.905528e+05
12,"Corpus Christi, TX",114849.299583,124837.790002,132956.815212,138015.304855,131955.486629,129025.080954,125239.672379,124603.291439,125846.038607,...,141221.790732,154355.870390,161624.002247,164358.359935,1.670479e+05,1.790356e+05,1.790356e+05,1.886960e+05,2.099765e+05,2.185360e+05
13,"Dallas, TX",147163.845871,149820.397881,154261.606352,155765.405497,147353.907583,148283.675091,143571.884621,139809.676373,147788.355192,...,173311.494415,193933.775162,215245.091553,235773.777741,2.488064e+05,2.564281e+05,2.564281e+05,2.782707e+05,3.362704e+05,3.734008e+05
14,"Denver, CO",245011.192907,249682.287547,248671.777039,242442.365210,231580.699226,230834.659840,225020.106175,219535.375036,238259.934286,...,289884.098646,331333.309212,363470.154715,390851.768914,4.129090e+05,4.300309e+05,4.300309e+05,4.701503e+05,5.523323e+05,5.749119e+05
15,"Detroit, MI",158142.240956,160898.772346,156493.585095,142995.965980,114234.164921,92301.675948,86113.850016,81653.554512,90971.773837,...,124581.946403,135984.233823,147535.806868,161265.110072,1.730665e+05,1.825915e+05,1.825915e+05,2.004238e+05,2.219860e+05,2.345535e+05
16,"El Paso, TX",107505.497126,115509.694229,131852.633793,140341.048991,132443.321624,130218.273291,128165.884154,126416.761432,122309.674351,...,123008.728773,126069.652576,130055.570023,132687.107256,1.361623e+05,1.405415e+05,1.405415e+05,1.544328e+05,1.775831e+05,2.007688e+05
17,"Fresno, CA",228079.666185,287424.364691,296337.396094,260443.997463,190998.151377,167148.752108,157379.245365,139435.150894,155806.257106,...,195926.526206,210832.440370,224378.606196,244866.387286,2.628318e+05,2.744019e+05,2.744019e+05,3.025499e+05,3.568204e+05,3.759362e+05
18,"Greensboro, NC",124967.042286,129571.609816,133732.171489,136221.736197,133113.136143,127457.085991,123482.391401,117303.447851,119844.786131,...,126940.028440,132146.928913,139380.489472,147264.198257,1.577135e+05,1.688890e+05,1.688890e+05,1.899676e+05,2.145929e+05,2.374657e+05
19,"Houston, TX",143523.243113,146047.592639,151635.555754,154600.254961,148187.328341,148902.587371,144841.177591,139720.487545,143032.548451,...,175697.426045,191126.252074,199072.096632,206115.740610,2.154846e+05,2.230025e+05,2.230025e+05,2.385839e+05,2.787775e+05,3.056677e+05
20,"Jacksonville, FL",174047.389705,204591.254743,227424.425142,216510.998103,189305.213011,167010.225193,150834.093714,136169.575526,140099.705390,...,166755.055772,178543.601571,191971.503274,208190.546530,2.247972e+05,2.352618e+05,2.352618e+05,2.571905e+05,3.168291e+05,3.606115e+05
21,"Las Vegas, NV",287682.276314,326069.732624,331034.263031,287573.379310,197393.670671,146045.801425,136313.964565,122499.866031,137086.833646,...,193721.419112,208891.396797,220700.285818,254582.090167,2.878294e+05,2.950604e+05,2.950604e+05,3.150245e+05,3.895270e+05,4.128341e+05
22,"Lincoln, NE",150013.243967,155128.805512,157373.941080,156131.376410,152766.970249,152733.111285,151800.379674,149137.508461,149622.864711,...,157818.585497,168237.695602,177569.638131,187601.133232,1.980887e+05,2.070641e+05,2.070641e+05,2.250837e+05,2.525487e+05,2.713718e+05
23,"Los Angeles, CA",482685.075019,568646.314603,592514.716450,540041.921607,421051.676664,405475.064010,391494.696634,370074.646865,401373.161558,...,507334.924535,500245.071899,535022.399246,601194.672760,6.607937e+05,6.703675e+05,6.703675e+05,7.358328e+05,8.384342e+05,8.739745e+05
24,"Madison, WI",198245.478564,212246.023689,218250.281570,221647.128335,210889.901485,209537.352525,202890.555916,196827.423291,200090.084394,...,217558.163403,231510.844178,246393.614763,260670.936838,2.744606e+05,2.877252e+05,2.877252e+05,3.137153e+05,3.428614e+05,3.706476e+05
25,"Memphis, TN",126389.121486,131612.680893,136456.256992,134213.574500,122717.987676,115172.709005,111071.097044,106706.290492,108248.157183,...,119393.465335,125148.685742,131018.193477,140846.612939,1.519512e+05,1.634548e+05,1.634548e+05,1.846109e+05,2.163384e+05,2.366809e+05
26,"Milwaukee, WI",201911.370128,218158.203080,221919.137683,220344.355846,203325.761398,197350.388661,185973.736670,173688.832037,174292.191792,...,188381.405784,197624.157007,209055.191603,220097.595780,2.322404e+05,2.456934e+05,2.456934e+05,2.688742e+05,2.884314e+05,3.092149e+05
27,"Minneapolis, MN",238437.489903,251872.955922,252019.777317,241077.663583,214389.732533,203061.056258,192552.479921,174122.458784,190503.627254,...,221518.445250,236173.860292,251444.711044,268704.559650,2.845950e+05,2.974867e+05,2.974867e+05,3.229809e+05,3.568537e+05,3.677206e+05
28,"Montgomery, AL",123464.414219,132085.591484,140912.200093,145642.063733,143891.313538,136463.415679,130159.085894,126079.160028,124507.705853,...,128533.120292,129830.093542,130759.335206,132749.275967,1.358810e+05,1.431793e+05,1.431793e+05,1.527973e+05,1.717688e+05,1.847809e+05
29,"New Orleans, LA",172678.059586,189069.869317,205777.975220,210956.869226,200356.289408,196634.610832,192413.787551,185580.787817,186788.010367,...,195941.289331,205549.660270,209921.132268,212447.721072,2.137803e+05,2.280245e+05,2.280245e+05,2.430996e+05,2.652442e+05,2.620998e+05
30,"Omaha, NE",141894.643375,147507.472410,151858.732507,149156.572481,141249.844369,147027.449959,139988.832400,137605.866324,140149.903288,...,149227.002491,158494.174119,166297.754709,177739.151425,1.878440e+05,2.006444e+05,2.006444e+05,2.228538e+05,2.455762e+05,2.691967e+05
31,"Orlando, FL",182152.543859,241485.832264,266076.178193,240915.384025,182059.627248,147762.601138,133568.712419,124046.840172,135615.318996,...,175805.459465,190086.964858,206244.878355,224841.359474,2.427915e+05,2.559450e+05,2.559450e+05,2.776672e+05,3.331388e+05,3.842142e+05
32,"Philadelphia, PA",199515.351740,228025.854218,239576.541384,239167.038501,226266.961975,219674.689775,212111.880899,200090.907259,198223.550834,...,207392.472043,215122.920012,223463.684607,233547.503371,2.419425e+05,2.530201e+05,2.530201e+05,2.802956e+05,3.077925e+05,3.319121e+05
33,"Phoenix, AZ",200405.060404,286482.744399,290097.952644,263124.923427,188846.940312,159756.426769,141663.642422,134495.966098,165192.745607,...,204581.623922,224658.200622,238635.851665,255694.959132,2.756903e+05,2.939501e+05,2.939501e+05,3.395681e+05,4.387415e+05,4.502707e+05
34,"Pittsburgh, PA",108481.245528,113226.530246,115856.981982,118485.665451,117640.899684,120418.706180,122541.139808,121071.432617,122996.545096,...,132416.119637,139115.864993,143746.549786,149782.925848,1.552907e+05,1.634972e+05,1.634972e+05,1.817290e+05,1.952951e+05,2.016472e+05
35,"Portland, OR",224313.262934,271016.156204,305623.008658,309033.615897,279472.377913,256840.604400,239948.471215,221911.491086,235544.777038,...,286777.362270,325885.769013,364017.607513,387261.176248,4.013696e+05,4.149250e+05,4.149250e+05,4.579171e+05,5.283023e+05,5.373461e+05
36,"Raleigh, NC",192476.622368,202293.967365,214837.586970,223589.226884,216287.761229,209981.766191,204561.254151,194434.985962,198460.739520,...,218868.428022,234986.178921,250321.726194,264369.143277,2.785238e+05,2.909261e+05,2.909261e+05,3.161448e+05,3.958097e+05,4.328020e+05
37,"Reno, NV",318308.856639,379501.730697,361512.873363,320606.468787,250249.307486,198043.069399,183268.274946,161858.425821,174608.156567,...,246417.998736,287533.572594,311886.976219,342959.245881,3.765483e+05,3.879077e+05,3.879077e+05,4.303451e+05,5.359219e+05,5.314365e+05
38,"Richmond, VA",178776.490270,204510.084177,222116.984609,224511.770114,214118.636639,201437.383236,191292.774139,179839.903693,183716.575003,...,196473.020713,206321.607809,217445.482749,228919.686523,2.394751e+05,2.523782e+05,2.523782e+05,2.781597e+05,3.108770e+05,3.420007e+05
39,"Riverside, CA",301134.466322,364254.717954,387445.048806,339499.724599,221431.878603,192071.169362,193359.042908,184669.818261,199653.306301,...,279855.999230,295026.542424,303946.340972,351524.670331,3.703359e+05,3.830150e+05,3.830150e+05,4.265540e+05,5.194627e+05,5.507506e+05
40,"Sacramento, CA",370444.236788,432095.331335,406381.052899,350605.256796,271752.490179,242502.744798,229964.944313,207878.784180,229421.826402,...,311321.381039,338164.524468,365475.362840,397881.036154,4.153365e+05,4.318662e+05,4.318662e+05,4.772010e+05,5.652754e+05,5.639795e+05
41,"Salem, OR",173265.511303,196780.611792,227039.163438,235068.813094,219498.230218,203151.906395,190405.970666,170972.983552,167765.084158,...,193203.960686,216519.480969,244075.987357,271420.305847,2.996577e+05,3.160747e+05,3.160747e+05,3.532370e+05,4.151735e+05,4.310827e+05
42,"Salt Lake City, UT",186991.726321,196267.100040,232752.954863,263756.478147,241113.073112,217962.259184,203609.875799,191032.203873,212163.530619,...,245611.086517,270592.282727,289596.415677,319338.010110,3.459505e+05,3.683323e+05,3.683323e+05,4.217428e+05,5.168483e+05,5.338229e+05
43,"San Antonio, TX",127827.253712,132724.257440,142522.424680,149282.616741,145537.729817,141557.078363,139639.061361,135933.685401,140376.403583,...,159338.902820,172554.231739,183136.745419,194252.413917,2.041088e+05,2.129165e+05,2.129165e+05,2.313215e+05,2.727588e+05,2.962085e+05
44,"San Diego, CA",502369.819897,537251.550430,521254.925559,466843.722633,372563.918511,360681.315025,353167.641908,333612.304486,363253.644456,...,456064.658041,496200.909299,528554.146232,570331.900832,5.868660e+05,6.015295e+05,6.015295e+05,6.700203e+05,7.905152e+05,8.372841e+05
45,"San Francisco, CA",549222.810164,633241.593949,632632.512900,588033.683149,501722.077253,473635.967033,459901.048692,428398.678805,487081.235784,...,660537.652251,758040.879676,792044.936594,871812.524067,9.244190e+05,9.278612e+05,9.278612e+05,9.984783e+05,1.138490e+06,1.107590e+06
46,"San Jose, CA",585323.567316,674026.119129,681322.413702,655512.563403,530909.465727,507448.808559,494707.669668,471878.041537,591629.358829,...,776199.243784,887225.135845,856426.239697,949472.046429,1.187780e+06,1.109759e+06,1.109759e+06,1.215834e+06,1.406167e+06,1.406516e+06
47,"Seattle, WA",299643.152814,352198.212910,398889.774715,405935.688966,357748.302029,323666.748708,297615.072646,266714.374457,271791.400173,...,328651.262988,369860.990474,411681.331586,465920.485372,4.968683e+05,5.115027e+05,5.115027e+05,5.795143e+05,6.807975e+05,7.000599e+05
48,"Spokane, WA",149286.852447,175157.602621,198770.933682,206521.276671,190549.266225,184237.129581,170578.696745,161107.206311,160524.819243,...,171104.340326,185109.776177,200549.097982,220266.242872,2.462507e+05,2.754020e+05,2.754020e+05,3.215654e+05,3.909707e+05,4.084563e+05
49,"St. Louis, MO",154215.565746,162930.770432,167711.763025,166027.259342,159003.783035,154007.853079,147942.872750,137981.028020,138095.402059,...,145095.182249,152134.373638,158597.263239,166315.628352,1.727683e+05,1.800817e+05,1.800817e+05,1.986273e+05,2.171242e+05,2.328062e+05
50,"Stockton, CA",342032.062837,426861.491036,426161.947316,323037.861370,191671.180491,175485.680421,172814.513695,156025.063059,175684.005915,...,261763.637527,290144.494669,317881.836659,350203.184853,3.752855e+05,3.887694e+05,3.887694e+05,4.321335e+05,5.147848e+05,5.205295e+05
51,"Tampa, FL",169048.252470,211507.508865,227733.699247,201667.486406,161729.670316,139153.283474,128574.885124,116206.529386,124118.312206,...,154836.496868,170746.462467,188203.049506,205975.461962,2.203677e+05,2.328174e+05,2.328174e+05,2.587390e+05,3.248462e+05,3.718755e+05
52,"Toledo, OH",109622.811386,112626.456894,113290.312744,108895.687372,104004.389466,99063.685289,95475.972633,91091.371762,91705.200340,...,100453.275975,108506.912691,112995.006628,120007.336774,1.262542e+05,1.334011e+05,1.334011e+05,1.490989e+05,1.584909e+05,1.694000e+05
53,"Tucson, AZ",174185.072014,226725.239235,235879.680250,223009.080649,191140.580203,171524.134838,156746.039822,136212.564846,153919.239608,...,172410.651885,178974.895500,188631.299760,201440.328416,2.148291e+05,2.312244e+05,2.312244e+05,2.613458e+05,3.188213e+05,3.389318e+05
54,"Tulsa, OK",119011.428512,122572.236610,126631.155753,128703.725609,128249.297829,128489.292442,126555.345950,122320.595856,124317.416528,...,132175.712739,133695.855264,142860.749094,144607.245824,1.519467e+05,1.610562e+05,1.610562e+05,1.796465e+05,2.057176e+05,2.235140e+05
55,"Washington, DC",353870.310624,425827.446853,431580.115027,401361.672296,339165.992536,319790.067157,318414.811863,314068.095519,336099.631543,...,373022.696856,383018.369391,391994.521572,405671.256961,4.187724e+05,4.348662e+05,4.348662e+05,4.731899e+05,5.142910e+05,5.322755e+05
56,"Wichita, KS",109902.909894,107354.068820,111378.148774,114261.777919,115047.300787,117629.032166,114371.627302,110632.660399,111972.287113,...,115130.546461,121298.549765,124458.587128,128795.614263,1.345781e+05,1.446990e+05,1.446990e+05,1.584859e+05,1.772564e+05,1.943983e+05

In [37]:
uniquecities = housedata["City"].unique()
df_income_cr = df_income[df_income["City"].isin(uniquecities)]
df_income_cr.reset_index(inplace=True)
df_income_cr= df_income_cr.drop(columns=['index'], errors='ignore')
df_unem_cr = df_unem[df_unem["City"].isin(uniquecities)]
df_unem_cr.reset_index(inplace=True)
df_unem_cr= df_unem_cr.drop(columns=['index'], errors='ignore')
df_age_cr = df_age[df_age["City"].isin(uniquecities)]
df_age_cr.reset_index(inplace=True)
df_age_cr= df_age_cr.drop(columns=['index'], errors='ignore')
df_geomob_cr = df_geomob[df_geomob["City"].isin(uniquecities)]
df_geomob_cr.reset_index(inplace=True)
df_geomob_cr= df_geomob_cr.drop(columns=['index'], errors='ignore')

In [368]:
df_income_cr.to_csv('../data/income_31cities.csv')
df_unem_cr.to_csv('../data/unemployment_31cities.csv')
df_age_cr.to_csv('../data/medianage_31cities.csv')
df_geomob_cr.to_csv('../data/geomobility_31cities.csv')
housedata.to_csv('../data/houseprice_31cities.csv')

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",35.8,35.3,35.2,35.5,34.0,35.2,35.5,35.3,35.8,35.7,36.0,36.5,37.0,37.2,37.3,37.1,38.9,38.4,39.2
1,"Anchorage, AK",33.8,33.5,33.3,33.4,32.3,32.7,32.9,33.0,32.4,32.1,32.2,33.0,34.0,34.3,34.2,33.9,35.2,35.4,36.0
2,"Atlanta, GA",34.7,35.0,35.0,35.7,33.4,33.2,32.7,33.1,33.1,33.5,33.8,33.0,33.3,33.2,33.3,33.2,34.3,34.0,34.5
3,"Austin, TX",31.4,31.2,31.4,31.7,31.2,30.9,31.3,31.7,32.0,32.6,32.7,32.7,33.4,33.6,33.9,33.7,34.4,34.5,34.9
4,"Baltimore, MD",35.7,35.6,35.4,35.5,34.0,34.4,34.2,34.2,34.6,34.6,34.7,34.9,35.3,35.5,35.9,35.5,36.1,36.5,36.5
5,"Boise City, ID",35.2,35.1,35.3,34.8,34.6,36.3,35.7,36.4,35.3,35.5,34.9,35.3,36.1,37.9,37.6,37.5,37.2,37.9,39.0
6,"Boston, MA",33.1,33.6,33.4,33.3,32.0,30.8,30.9,31.0,31.7,31.7,31.8,32.1,32.3,32.1,32.6,32.4,33.0,33.3,33.7
7,"Charlotte, NC",33.8,34.7,34.3,35.0,33.3,33.2,33.7,33.3,33.3,33.8,34.3,34.0,34.4,34.7,34.2,34.4,34.8,34.5,34.7
8,"Chicago, IL",33.1,33.6,34.1,34.0,32.9,32.8,33.0,33.6,33.7,33.9,34.2,34.4,34.6,34.9,35.2,34.8,35.8,35.8,36.4
9,"Cincinnati, OH",33.3,34.9,35.3,36.6,32.6,32.5,32.9,32.0,32.5,33.0,32.7,32.2,32.7,33.0,32.5,32.4,32.5,33.5,34.1
10,"Cleveland, OH",35.3,36.9,37.0,36.9,36.8,37.0,37.7,35.8,34.9,34.8,36.0,36.4,36.2,36.3,35.5,36.3,36.3,36.8,36.3
11,"Columbus, OH",32.1,32.5,32.5,32.5,31.5,31.6,31.6,32.0,32.3,31.9,32.5,32.3,32.2,32.3,32.4,32.4,33.1,33.3,33.4
12,"Corpus Christi, TX",33.5,34.2,33.8,34.4,33.3,34.2,34.6,34.7,34.7,34.8,35.0,35.1,35.3,35.3,35.3,35.3,36.4,36.7,36.8
13,"Dallas, TX",31.9,31.9,31.9,31.9,31.6,31.6,31.6,32.4,32.1,32.4,32.6,32.7,32.4,33.3,32.9,32.9,33.7,33.1,33.5
14,"Denver, CO",34.3,35.0,35.3,35.4,33.0,33.6,33.6,33.7,34.1,34.2,34.1,34.4,34.5,34.6,34.7,34.6,35.1,35.1,35.4
15,"Detroit, MI",32.5,33.0,33.7,35.0,34.7,35.1,35.2,35.1,35.2,35.1,34.8,34.0,34.6,35.0,35.0,34.6,35.3,35.3,35.2
16,"El Paso, TX",31.5,31.7,32.2,32.3,31.6,32.8,32.1,32.2,32.2,33.1,33.1,32.6,33.4,33.1,32.9,33.0,34.3,34.1,35.3
17,"Fresno, CA",28.1,28.8,29.1,28.9,29.1,28.9,29.4,30.2,30.0,30.5,30.0,30.9,31.5,31.5,31.8,31.4,32.9,32.4,32.8
18,"Greensboro, NC",35.8,34.3,33.7,34.6,33.9,34.5,33.8,33.6,34.8,34.5,35.5,34.3,36.4,35.6,34.7,34.4,36.3,34.1,34.9
19,"Houston, TX",32.3,32.2,32.9,32.9,31.9,32.2,32.2,32.5,32.7,32.7,32.6,33.0,33.1,33.1,33.4,33.3,34.8,34.6,34.5
20,"Jacksonville, FL",35.2,35.6,35.9,36.4,34.6,35.4,35.6,35.5,35.8,35.8,35.7,35.7,35.8,36.0,36.1,35.9,36.6,36.5,36.9
21,"Las Vegas, NV",34.8,35.2,36.0,35.7,33.7,36.8,35.9,37.1,36.6,35.9,37.5,38.1,37.8,38.1,36.8,37.7,39.6,38.6,39.2
22,"Lincoln, NE",33.3,32.1,31.6,32.4,30.2,31.6,32.1,32.3,32.1,32.5,32.3,32.6,32.9,32.9,33.5,32.9,33.3,33.9,33.8
23,"Los Angeles, CA",33.3,33.4,33.9,34.1,33.7,34.0,34.4,34.7,34.7,35.0,35.0,35.6,35.8,35.8,35.9,35.9,37.0,37.1,37.2
24,"Madison, WI",31.7,32.3,30.6,32.6,29.1,30.8,30.5,30.3,31.3,31.4,30.7,31.2,31.3,30.5,31.7,31.2,32.3,32.2,32.5
25,"Memphis, TN",33.0,33.7,33.9,34.3,33.3,33.4,33.6,33.2,33.0,33.8,34.1,33.8,33.6,34.3,34.6,34.2,34.3,34.7,33.9
26,"Milwaukee, WI",31.8,32.2,31.9,32.0,31.3,30.5,31.0,30.5,31.1,31.6,31.6,31.0,31.9,31.5,31.5,31.4,32.3,32.6,32.6
27,"Minneapolis, MN",32.1,33.6,35.3,34.1,31.6,31.7,32.3,31.4,32.1,31.8,32.4,32.0,32.4,32.2,32.2,32.3,33.5,33.3,33.3
28,"Montgomery, AL",35.4,33.7,33.8,34.8,33.0,34.0,33.5,34.6,34.5,34.8,35.4,35.5,36.0,36.0,35.6,36.0,36.1,36.1,37.0
29,"New Orleans, LA",35.2,40.6,39.8,38.5,36.5,34.7,34.9,34.8,35.4,35.8,35.9,35.7,36.7,37.3,38.3,37.2,38.3,38.8,39.5
30,"Omaha, NE",34.1,34.4,34.5,34.9,33.1,33.6,34.0,33.5,34.2,34.2,34.2,34.7,34.5,35.1,34.6,34.9,35.6,35.3,35.9
31,"Orlando, FL",33.2,33.1,31.8,34.2,32.3,32.4,33.0,32.4,33.6,33.5,33.1,33.1,33.0,33.9,34.6,33.9,35.7,36.0,35.3
32,"Philadelphia, PA",35.3,35.4,35.6,35.7,34.2,33.5,33.4,33.6,33.7,33.8,34.1,34.1,34.4,34.5,34.7,34.6,35.2,35.1,35.6
33,"Phoenix, AZ",30.9,31.7,31.4,32.2,31.4,32.4,32.8,32.9,32.8,33.2,33.8,33.4,33.8,33.5,34.4,33.9,34.5,35.1,34.9
34,"Pittsburgh, PA",38.4,37.9,36.6,36.2,34.5,33.0,34.4,33.0,33.7,32.8,32.9,33.5,33.3,34.0,33.3,33.4,34.2,33.1,34.1
35,"Portland, OR",36.4,37.1,37.8,37.3,35.3,35.5,35.7,36.6,36.6,37.1,36.7,36.7,36.8,37.6,37.5,37.5,38.3,38.5,39.4
36,"Raleigh, NC",32.6,32.2,32.3,32.3,31.8,32.2,32.2,32.4,32.8,32.4,32.8,33.8,33.4,34.1,34.5,34.0,35.0,34.6,34.9
37,"Reno, NV",34.3,35.3,34.8,35.4,35.3,34.0,34.9,34.2,34.9,35.5,35.7,35.4,34.8,36.7,35.9,36.1,36.3,37.5,37.6
38,"Richmond, VA",35.9,35.4,35.3,35.4,33.2,32.2,32.1,32.3,32.8,32.7,33.6,33.4,34.0,34.0,34.2,34.1,34.8,34.8,34.9
39,"Riverside, CA",28.9,28.9,28.8,28.9,30.7,30.2,30.2,30.7,30.6,31.2,31.4,31.8,30.9,31.2,31.1,31.8,32.9,33.9,33.6
40,"Sacramento, CA",33.0,33.2,33.6,33.3,32.9,33.4,33.1,34.2,34.1,33.6,33.7,34.7,35.2,34.3,34.8,34.9,36.3,36.0,36.2
41,"Salem, OR",33.7,33.1,35.0,35.7,35.2,36.7,35.5,34.0,35.6,35.1,35.4,35.9,37.1,37.2,34.8,35.9,34.4,37.0,36.4
42,"Salt Lake City, UT",30.8,32.0,31.0,31.5,32.1,30.6,30.9,31.4,32.3,31.1,32.1,32.7,31.2,32.2,32.9,32.5,32.5,31.9,33.2
43,"San Antonio, TX",32.3,32.6,32.5,32.9,32.2,32.8,32.7,33.2,33.0,33.2,33.1,33.5,33.6,33.7,34.4,33.8,34.1,34.1,35.4
44,"San Diego, CA",33.5,32.9,33.1,33.5,33.9,33.3,33.4,33.9,33.4,34.4,34.5,34.6,34.5,35.4,35.4,35.2,35.9,36.2,36.0
45,"San Francisco, CA",39.4,39.4,40.0,40.4,38.5,38.5,38.4,38.5,38.7,38.6,38.3,38.0,38.3,38.3,38.2,38.3,40.4,40.4,40.7
46,"San Jose, CA",34.7,35.1,35.7,35.6,34.8,35.4,35.8,35.6,36.0,36.5,36.5,36.3,36.8,37.0,37.4,37.1,38.4,38.3,38.1
47,"Seattle, WA",36.8,37.7,37.9,38.3,36.7,36.2,35.8,35.9,36.1,36.4,35.5,35.5,35.6,35.2,34.7,35.2,35.5,35.9,35.6
48,"Spokane, WA",35.4,35.1,34.1,34.0,35.4,36.5,35.8,35.8,35.7,35.9,36.6,36.2,35.7,37.0,37.0,36.3,35.7,38.6,36.7
49,"St. Louis, MO",35.4,35.6,36.3,36.7,34.6,33.7,34.1,34.0,34.7,34.9,35.0,35.3,35.6,36.4,36.4,36.0,36.8,36.8,37.2
50,"Stockton, CA",29.6,29.8,30.2,30.9,30.8,32.1,29.8,30.4,32.3,32.3,32.5,32.5,32.9,32.8,34.0,33.0,32.4,34.3,34.1
51,"Tampa, FL",36.2,35.1,35.4,35.8,34.8,33.7,35.1,34.4,35.5,35.5,35.3,36.2,36.6,34.6,36.0,35.9,35.8,35.3,35.9
52,"Toledo, OH",34.2,34.0,34.6,34.7,34.8,33.5,34.5,35.6,36.1,35.1,36.1,35.4,35.4,34.6,35.6,35.4,36.4,36.6,35.5
53,"Tucson, AZ",32.4,32.6,33.0,33.2,33.1,32.8,33.8,33.3,33.3,33.4,33.6,33.4,34.1,33.5,34.5,34.0,33.6,33.8,35.6
54,"Tulsa, OK",35.3,36.1,35.6,35.8,34.9,35.1,34.8,34.8,34.7,35.4,35.0,34.5,35.5,35.4,35.5,35.2,35.9,35.8,35.7
55,"Wichita, KS",34.2,34.8,35.0,34.0,34.3,33.9,34.3,35.1,34.0,34.0,34.6,34.7,35.9,35.3,35.3,35.3,35.6,36.2,36.8

In [370]:
truckprices = pd.read_csv("../data/truckindex.csv")

In [371]:
truckprices

    2005   1.244
0   2006  1.2870
1   2007  1.2590
2   2008  1.1280
3   2009  0.9245
4   2010  1.0315
5   2011  1.1095
6   2012  1.1225
7   2013  1.1115
8   2014  1.1535
9   2015  1.1095
10  2016  1.0890
11  2017  1.1490
12  2018  1.2255
13  2019  1.1770
14  2020  1.0860
15  2021  1.1925
16  2022  1.2030
17  2023  1.1435

In [398]:
df

,level_0,index,Year,City,Total Population,Mean Household Income,Unemployment Rate,Median Age,Geographic Mobility
0,0,0,2005,"Irvine city, California",172182,82827.0,27.189537,36.0,170140.0
1,1,1,2005,"Long Beach city, California",463956,43746.0,13.441066,33.6,457045.0
2,2,2,2005,"Los Angeles city, California",3731437,42667.0,12.035838,33.3,3667157.0
3,3,3,2005,"Oakland city, California",373910,44124.0,9.549086,35.2,367165.0
4,4,4,2005,"Riverside city, California",294059,50416.0,12.189367,28.9,289333.0
...,...,...,...,...,...,...,...,...,...
3500,3500,3500,2023,"Spokane city, Washington",229451,65016.0,3.846681,36.7,226436.0
3501,3501,3501,2023,"Tacoma city, Washington",222932,89107.0,5.968414,37.9,220476.0
3502,3502,3502,2023,"Vancouver city, Washington",196441,80618.0,4.225046,38.1,193173.0
3503,3503,3503,2023,"Madison city, Wisconsin",280307,70484.0,2.634292,32.5,278318.0
3504,3504,3504,2023,"Milwaukee city, Wisconsin",561369,52992.0,5.107649,32.6,555962.0

In [399]:
df2 = df
df2 = df2[df2['City'].str.contains("Puerto Rico", case=False, na=False)]
df2['City'] = df2['City'].str.replace(r' \bcity\b', '', regex=True)
df2['City'] = df2['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df2['City'] = df2['City'].str.replace(r' \bCDP\b', '', regex=True)
df2['City'] = df2['City'].str.strip()
df2['City'] = df2['City'].apply(replace_state_names)

In [409]:
df

,Year,City,Total Population,Mean Household Income,Unemployment Rate,Median Age,Geographic Mobility
0,2005,"Irvine city, California",172182,82827.0,27.189537,36.0,170140.0
1,2005,"Long Beach city, California",463956,43746.0,13.441066,33.6,457045.0
2,2005,"Los Angeles city, California",3731437,42667.0,12.035838,33.3,3667157.0
3,2005,"Oakland city, California",373910,44124.0,9.549086,35.2,367165.0
4,2005,"Riverside city, California",294059,50416.0,12.189367,28.9,289333.0
...,...,...,...,...,...,...,...
3500,2023,"Spokane city, Washington",229451,65016.0,3.846681,36.7,226436.0
3501,2023,"Tacoma city, Washington",222932,89107.0,5.968414,37.9,220476.0
3502,2023,"Vancouver city, Washington",196441,80618.0,4.225046,38.1,193173.0
3503,2023,"Madison city, Wisconsin",280307,70484.0,2.634292,32.5,278318.0
3504,2023,"Milwaukee city, Wisconsin",561369,52992.0,5.107649,32.6,555962.0

In [408]:
df2 = df[df['City'].str.contains("Puerto Rico", case=True, na=False)]

In [412]:
df2 = df

In [413]:
df2['City'] = df2['City'].str.replace(r' \bcity\b', '', regex=True)
df2['City'] = df2['City'].str.replace(r' \bmunicipality\b', '', regex=True)
df2['City'] = df2['City'].str.replace(r' \bCDP\b', '', regex=True)
df2['City'] = df2['City'].str.strip()
df2['City'] = df2['City'].apply(replace_state_names)

In [414]:
df2

,Year,City,Total Population,Mean Household Income,Unemployment Rate,Median Age,Geographic Mobility
0,2005,"Irvine, CA",172182,82827.0,27.189537,36.0,170140.0
1,2005,"Long Beach, CA",463956,43746.0,13.441066,33.6,457045.0
2,2005,"Los Angeles, CA",3731437,42667.0,12.035838,33.3,3667157.0
3,2005,"Oakland, CA",373910,44124.0,9.549086,35.2,367165.0
4,2005,"Riverside, CA",294059,50416.0,12.189367,28.9,289333.0
...,...,...,...,...,...,...,...
3500,2023,"Spokane, WA",229451,65016.0,3.846681,36.7,226436.0
3501,2023,"Tacoma, WA",222932,89107.0,5.968414,37.9,220476.0
3502,2023,"Vancouver, WA",196441,80618.0,4.225046,38.1,193173.0
3503,2023,"Madison, WI",280307,70484.0,2.634292,32.5,278318.0
3504,2023,"Milwaukee, WI",561369,52992.0,5.107649,32.6,555962.0

In [35]:
t = pd.read_csv("../data/houseprice_35cities.csv")

In [38]:
df_age_35 = df_age_cr[df_age_cr["City"].isin(t["City"].unique())]

In [39]:
df_age_35 = df_age_35.reset_index()

In [40]:
df_age_35= df_age_35.drop(columns=['index'], errors='ignore')

In [41]:
df_age_35

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",35.8,35.3,35.2,35.5,34.0,35.2,35.5,35.3,35.8,35.7,36.0,36.5,37.0,37.2,37.3,37.1,38.9,38.4,39.2
1,"Atlanta, GA",34.7,35.0,35.0,35.7,33.4,33.2,32.7,33.1,33.1,33.5,33.8,33.0,33.3,33.2,33.3,33.2,34.3,34.0,34.5
2,"Austin, TX",31.4,31.2,31.4,31.7,31.2,30.9,31.3,31.7,32.0,32.6,32.7,32.7,33.4,33.6,33.9,33.7,34.4,34.5,34.9
3,"Baltimore, MD",35.7,35.6,35.4,35.5,34.0,34.4,34.2,34.2,34.6,34.6,34.7,34.9,35.3,35.5,35.9,35.5,36.1,36.5,36.5
4,"Boston, MA",33.1,33.6,33.4,33.3,32.0,30.8,30.9,31.0,31.7,31.7,31.8,32.1,32.3,32.1,32.6,32.4,33.0,33.3,33.7
5,"Charlotte, NC",33.8,34.7,34.3,35.0,33.3,33.2,33.7,33.3,33.3,33.8,34.3,34.0,34.4,34.7,34.2,34.4,34.8,34.5,34.7
6,"Chicago, IL",33.1,33.6,34.1,34.0,32.9,32.8,33.0,33.6,33.7,33.9,34.2,34.4,34.6,34.9,35.2,34.8,35.8,35.8,36.4
7,"Cincinnati, OH",33.3,34.9,35.3,36.6,32.6,32.5,32.9,32.0,32.5,33.0,32.7,32.2,32.7,33.0,32.5,32.4,32.5,33.5,34.1
8,"Cleveland, OH",35.3,36.9,37.0,36.9,36.8,37.0,37.7,35.8,34.9,34.8,36.0,36.4,36.2,36.3,35.5,36.3,36.3,36.8,36.3
9,"Columbus, OH",32.1,32.5,32.5,32.5,31.5,31.6,31.6,32.0,32.3,31.9,32.5,32.3,32.2,32.3,32.4,32.4,33.1,33.3,33.4
10,"Dallas, TX",31.9,31.9,31.9,31.9,31.6,31.6,31.6,32.4,32.1,32.4,32.6,32.7,32.4,33.3,32.9,32.9,33.7,33.1,33.5
11,"Denver, CO",34.3,35.0,35.3,35.4,33.0,33.6,33.6,33.7,34.1,34.2,34.1,34.4,34.5,34.6,34.7,34.6,35.1,35.1,35.4
12,"Detroit, MI",32.5,33.0,33.7,35.0,34.7,35.1,35.2,35.1,35.2,35.1,34.8,34.0,34.6,35.0,35.0,34.6,35.3,35.3,35.2
13,"Fresno, CA",28.1,28.8,29.1,28.9,29.1,28.9,29.4,30.2,30.0,30.5,30.0,30.9,31.5,31.5,31.8,31.4,32.9,32.4,32.8
14,"Houston, TX",32.3,32.2,32.9,32.9,31.9,32.2,32.2,32.5,32.7,32.7,32.6,33.0,33.1,33.1,33.4,33.3,34.8,34.6,34.5
15,"Jacksonville, FL",35.2,35.6,35.9,36.4,34.6,35.4,35.6,35.5,35.8,35.8,35.7,35.7,35.8,36.0,36.1,35.9,36.6,36.5,36.9
16,"Memphis, TN",33.0,33.7,33.9,34.3,33.3,33.4,33.6,33.2,33.0,33.8,34.1,33.8,33.6,34.3,34.6,34.2,34.3,34.7,33.9
17,"Milwaukee, WI",31.8,32.2,31.9,32.0,31.3,30.5,31.0,30.5,31.1,31.6,31.6,31.0,31.9,31.5,31.5,31.4,32.3,32.6,32.6
18,"Minneapolis, MN",32.1,33.6,35.3,34.1,31.6,31.7,32.3,31.4,32.1,31.8,32.4,32.0,32.4,32.2,32.2,32.3,33.5,33.3,33.3
19,"Omaha, NE",34.1,34.4,34.5,34.9,33.1,33.6,34.0,33.5,34.2,34.2,34.2,34.7,34.5,35.1,34.6,34.9,35.6,35.3,35.9
20,"Orlando, FL",33.2,33.1,31.8,34.2,32.3,32.4,33.0,32.4,33.6,33.5,33.1,33.1,33.0,33.9,34.6,33.9,35.7,36.0,35.3
21,"Philadelphia, PA",35.3,35.4,35.6,35.7,34.2,33.5,33.4,33.6,33.7,33.8,34.1,34.1,34.4,34.5,34.7,34.6,35.2,35.1,35.6
22,"Phoenix, AZ",30.9,31.7,31.4,32.2,31.4,32.4,32.8,32.9,32.8,33.2,33.8,33.4,33.8,33.5,34.4,33.9,34.5,35.1,34.9
23,"Pittsburgh, PA",38.4,37.9,36.6,36.2,34.5,33.0,34.4,33.0,33.7,32.8,32.9,33.5,33.3,34.0,33.3,33.4,34.2,33.1,34.1
24,"Portland, OR",36.4,37.1,37.8,37.3,35.3,35.5,35.7,36.6,36.6,37.1,36.7,36.7,36.8,37.6,37.5,37.5,38.3,38.5,39.4
25,"Raleigh, NC",32.6,32.2,32.3,32.3,31.8,32.2,32.2,32.4,32.8,32.4,32.8,33.8,33.4,34.1,34.5,34.0,35.0,34.6,34.9
26,"Sacramento, CA",33.0,33.2,33.6,33.3,32.9,33.4,33.1,34.2,34.1,33.6,33.7,34.7,35.2,34.3,34.8,34.9,36.3,36.0,36.2
27,"Seattle, WA",36.8,37.7,37.9,38.3,36.7,36.2,35.8,35.9,36.1,36.4,35.5,35.5,35.6,35.2,34.7,35.2,35.5,35.9,35.6
28,"Tampa, FL",36.2,35.1,35.4,35.8,34.8,33.7,35.1,34.4,35.5,35.5,35.3,36.2,36.6,34.6,36.0,35.9,35.8,35.3,35.9
29,"Tucson, AZ",32.4,32.6,33.0,33.2,33.1,32.8,33.8,33.3,33.3,33.4,33.6,33.4,34.1,33.5,34.5,34.0,33.6,33.8,35.6
30,"Tulsa, OK",35.3,36.1,35.6,35.8,34.9,35.1,34.8,34.8,34.7,35.4,35.0,34.5,35.5,35.4,35.5,35.2,35.9,35.8,35.7
31,"Washington, DC",35.9,35.0,34.9,34.9,35.1,33.9,33.4,33.7,33.8,33.8,33.8,33.9,34.0,33.9,34.3,34.1,34.8,34.9,34.9
32,"Wichita, KS",34.2,34.8,35.0,34.0,34.3,33.9,34.3,35.1,34.0,34.0,34.6,34.7,35.9,35.3,35.3,35.3,35.6,36.2,36.8

In [459]:
df_geomob
df_age
df_income
df_unem

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",14.533702,18.786019,19.911130,19.150972,13.877965,12.436434,10.542100,8.817330,7.260191,8.308843,6.681222,5.212342,4.805098,5.734425,5.082790,5.594741,6.105605,4.188383,4.337847
1,"Anaheim, CA",14.052579,17.116733,15.048664,11.264549,8.316300,6.947624,11.514510,11.795449,9.850070,6.379095,6.688202,5.687834,4.870972,4.212351,3.736232,5.253194,7.739288,3.760461,4.800021
2,"Anchorage, AK",12.813669,12.609018,14.652567,16.511551,13.173254,11.754007,7.661335,6.494628,6.606993,5.718332,6.380028,5.161294,5.820640,5.451503,5.422420,5.234905,6.645122,4.071370,4.253729
3,"Arlington, TX",11.645064,13.063362,16.550008,16.860931,11.282053,8.792764,9.248439,8.889318,7.271395,6.764301,4.317417,4.675709,4.355157,3.586946,5.522196,5.207499,6.383448,4.230644,3.797428
4,"Arlington, VA",31.389930,49.631138,39.573277,42.709646,17.357022,23.814249,3.375747,4.198722,3.452558,3.231800,4.125580,2.790432,2.515723,2.024391,2.240866,2.845019,3.427225,1.953504,3.585866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Tulsa, OK",14.075982,14.096175,16.782754,21.912674,13.843573,10.640480,8.010352,7.862066,7.173986,5.581463,6.377931,7.008047,6.854466,5.031363,5.547656,6.213191,7.054247,4.833533,6.023028
83,"VA Beach, VA",20.551649,25.859625,27.103135,20.557803,15.339974,15.152082,6.348781,7.094098,6.254390,5.334866,5.622950,4.695007,3.980565,4.218738,4.146352,4.379281,4.135830,3.412326,4.105642
84,"Vancouver, WA",11.566898,12.620030,13.386219,12.329842,6.921437,6.491887,11.518850,11.966959,9.433639,9.233544,5.439369,5.538916,6.108281,4.402471,4.667593,5.034493,7.572812,6.928904,4.225046
85,"WA, DC",10.958860,11.788686,12.381388,12.881559,9.013277,8.060211,11.377442,10.342908,10.446569,8.859504,7.250638,6.919595,6.590778,7.541190,6.263807,7.119626,8.200761,5.112622,5.258939
86,"Wichita, KS",12.318049,13.096823,15.245344,16.408939,9.897806,8.734963,10.462393,8.034788,7.482116,6.848021,4.994331,5.754310,6.689720,4.901292,5.507219,5.570981,7.203338,6.025616,4.093885

In [42]:
df_unem_35 = df_unem[df_unem["City"].isin(t["City"].unique())]
df_unem_35 = df_unem_35.reset_index()
df_unem_35= df_unem_35.drop(columns=['index'], errors='ignore')

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",14.533702,18.786019,19.911130,19.150972,13.877965,12.436434,10.542100,8.817330,7.260191,8.308843,6.681222,5.212342,4.805098,5.734425,5.082790,5.594741,6.105605,4.188383,4.337847
1,"Atlanta, GA",10.534444,10.190236,10.807414,11.776196,7.966137,6.696835,13.222761,14.661379,11.253640,10.482968,7.382863,7.278972,6.648207,5.659872,4.996723,6.626817,5.200898,4.757105,5.678080
2,"Austin, TX",14.198369,16.347289,19.592060,19.434976,13.391173,11.853359,8.251289,7.106502,5.853625,4.469576,4.170990,3.476909,3.537583,3.772958,3.428839,4.362911,5.291025,3.045554,3.950272
3,"Baltimore, MD",8.795519,9.346614,9.931212,10.222290,7.826814,6.936303,16.148262,15.486366,11.114411,11.819685,10.074000,8.923227,7.569993,6.761844,7.310009,7.555764,7.922479,5.496045,5.053969
4,"Boston, MA",11.037364,15.563555,12.151404,13.033743,8.894487,7.781088,11.563092,9.604663,8.080456,8.327116,6.673833,7.570566,6.710638,6.867020,4.410932,6.880256,8.022814,5.225530,4.171435
5,"Charlotte, NC",12.053908,13.637751,13.447170,15.167830,9.113040,7.493992,11.286430,10.537584,10.168049,9.224919,7.340828,5.412054,4.623674,4.183091,3.603295,4.948711,5.031209,3.285272,3.527264
6,"Chicago, IL",9.058758,10.159389,10.919533,10.602607,7.641775,6.742210,14.097142,13.663928,12.665761,10.912343,9.496046,8.148354,8.304362,8.135736,6.289193,8.102961,10.103574,6.436242,6.440380
7,"Cincinnati, OH",9.548108,9.762342,10.386110,10.821038,9.090302,6.942449,15.776012,12.137326,12.231857,13.298737,10.489814,9.422456,5.901118,6.215793,6.853902,7.322683,7.559700,5.287265,6.347012
8,"Cleveland, OH",5.852770,6.209213,6.314119,6.296805,4.669594,4.832131,19.533152,19.435775,18.080502,18.376674,17.521746,13.936350,12.462818,11.712837,11.089662,12.416546,12.269579,8.897022,9.527910
9,"Columbus, OH",12.674405,12.393934,13.996620,15.437808,10.593032,8.129315,10.746960,8.545421,7.212225,6.416014,6.551108,6.159773,5.079323,5.045730,4.629965,5.417690,6.229611,4.371886,4.388452
10,"Dallas, TX",11.630534,12.257335,15.741236,16.425376,10.705989,9.868313,9.779732,9.275216,7.912220,6.628744,5.185364,4.682171,5.226705,4.318155,4.611744,4.902161,6.029384,4.017421,4.411595
11,"Denver, CO",15.244506,15.224327,16.919240,19.425366,10.441714,8.370012,9.499337,7.243437,5.905122,4.700221,4.485627,4.337630,3.159973,3.601513,3.024134,4.341348,6.249272,3.708047,3.739818
12,"Detroit, MI",4.870206,4.510864,4.777312,4.892703,3.534278,3.076668,29.287443,27.653539,25.329321,21.588266,20.592426,16.485686,15.849674,13.051752,11.162508,14.912899,17.370210,12.369072,10.694360
13,"Fresno, CA",11.785306,9.090112,9.549674,8.874429,7.169778,6.257419,18.469330,16.812929,13.492895,11.856396,10.877839,9.699022,9.223339,9.003976,8.181632,9.536573,9.324754,7.932220,7.001140
14,"Houston, TX",10.978751,11.850528,14.659176,17.002556,12.022466,10.034322,10.242449,9.720490,7.861027,6.556759,5.900925,6.549111,6.260268,5.331109,5.354705,6.241705,8.362474,5.919371,6.235925
15,"Jacksonville, FL",15.460328,16.698127,15.222440,14.329161,9.225959,7.999052,13.215035,12.433001,10.738280,8.524175,7.230925,5.971617,6.359030,5.788545,4.761055,5.470291,4.689889,4.212638,4.412098
16,"Memphis, TN",9.374621,8.392121,8.846535,9.570863,6.956867,6.714523,14.481545,14.094634,13.613188,10.090318,10.145187,8.487026,8.519297,9.605348,7.497692,8.559151,9.847003,6.074461,7.454731
17,"Milwaukee, WI",8.054780,9.681867,9.401249,11.501268,7.732209,6.489885,15.760800,13.076122,11.328142,10.492440,8.669008,7.976563,6.228673,5.277151,5.251849,6.342176,6.956475,4.997171,5.107649
18,"Minneapolis, MN",11.372941,12.623779,13.227986,12.265596,10.954067,8.057528,9.948097,8.676159,7.952083,6.692041,5.676648,5.776543,4.229211,5.116692,4.400194,5.248658,8.447104,4.642461,3.878292
19,"Omaha, NE",12.477583,14.380263,15.457958,17.508702,13.289505,11.290594,9.145874,7.627635,5.073781,5.969799,4.117716,4.806006,4.348451,4.516622,4.746380,4.407300,4.129118,3.316042,3.267204
20,"Orlando, FL",15.234550,15.583578,15.656628,10.999755,7.046258,7.096811,9.547525,11.693473,9.357507,6.828155,7.215771,5.501865,5.449846,4.695898,3.548825,5.034550,7.764884,4.087220,5.204005
21,"Philadelphia, PA",8.087786,8.080280,9.310719,10.011343,7.241949,6.335866,16.697880,15.891952,13.796248,12.790805,10.931037,9.578340,9.138835,8.173945,8.202741,8.789004,10.492399,7.047209,6.199517
22,"Phoenix, AZ",17.948402,21.296041,18.750961,18.534435,8.858522,8.668027,10.988543,9.695198,9.086907,8.191597,6.227013,5.907518,5.545193,4.781442,4.394313,5.354215,5.932052,4.324954,4.391317
23,"Pittsburgh, PA",9.562231,13.439131,14.273716,14.612312,10.567476,8.902215,10.821186,9.333526,7.990416,8.258368,7.013222,6.494886,5.442911,4.558034,5.287490,5.357452,7.185849,5.341245,4.922189
24,"Portland, OR",12.636709,15.801270,15.423615,14.097969,8.590895,8.194201,9.724301,9.700366,9.037973,7.406924,6.456998,4.978535,4.654047,4.002931,3.845886,5.298117,7.120401,4.527439,3.824145
25,"Raleigh, NC",17.215081,17.662950,21.067559,18.119670,11.157394,9.330586,9.017515,8.143874,7.780226,5.568407,4.905191,4.501470,3.525709,3.287415,4.428556,4.291245,5.542917,3.242063,3.022151
26,"Sacramento, CA",11.973465,11.621062,11.694023,9.819016,7.258569,6.259219,15.614168,14.897982,12.497227,10.323563,8.235577,7.180317,8.163714,6.476879,5.553054,6.670750,7.527604,5.006540,6.203280
27,"Seattle, WA",15.637811,18.825163,18.424411,22.543296,14.269057,10.961902,7.205299,5.948018,5.853273,4.460465,4.811097,4.691913,3.986129,3.760330,3.568195,4.092622,5.322619,3.344925,4.174967
28,"Tampa, FL",14.331608,15.090315,11.186441,14.137180,7.191854,7.337597,12.476289,12.529563,10.790819,8.831116,8.299398,7.525957,5.772530,5.665789,3.957767,5.773295,5.306419,4.341842,3.826191
29,"Tucson, AZ",13.450424,15.015756,14.391907,13.817567,9.130952,7.615366,13.880479,11.448461,12.211043,9.843490,9.698172,8.885803,8.468252,5.744046,6.291507,7.523447,6.877717,5.798661,5.056840
30,"Tulsa, OK",14.075982,14.096175,16.782754,21.912674,13.843573,10.640480,8.010352,7.862066,7.173986,5.581463,6.377931,7.008047,6.854466,5.031363,5.547656,6.213191,7.054247,4.833533,6.023028
31,"Washington, DC",10.958860,11.788686,12.381388,12.881559,9.013277,8.060211,11.377442,10.342908,10.446569,8.859504,7.250638,6.919595,6.590778,7.541190,6.263807,7.119626,8.200761,5.112622,5.258939
32,"Wichita, KS",12.318049,13.096823,15.245344,16.408939,9.897806,8.734963,10.462393,8.034788,7.482116,6.848021,4.994331,5.754310,6.689720,4.901292,5.507219,5.570981,7.203338,6.025616,4.093885

In [45]:
df_age_35 = df_age[df_age["City"].isin(t["City"].unique())]
df_age_35 = df_age_35.reset_index()
df_age_35 = df_age_35.drop(columns=['index'], errors='ignore')
df_age_35

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",35.8,35.3,35.2,35.5,34.0,35.2,35.5,35.3,35.8,35.7,36.0,36.5,37.0,37.2,37.3,37.1,38.9,38.4,39.2
1,"Atlanta, GA",34.7,35.0,35.0,35.7,33.4,33.2,32.7,33.1,33.1,33.5,33.8,33.0,33.3,33.2,33.3,33.2,34.3,34.0,34.5
2,"Austin, TX",31.4,31.2,31.4,31.7,31.2,30.9,31.3,31.7,32.0,32.6,32.7,32.7,33.4,33.6,33.9,33.7,34.4,34.5,34.9
3,"Baltimore, MD",35.7,35.6,35.4,35.5,34.0,34.4,34.2,34.2,34.6,34.6,34.7,34.9,35.3,35.5,35.9,35.5,36.1,36.5,36.5
4,"Boston, MA",33.1,33.6,33.4,33.3,32.0,30.8,30.9,31.0,31.7,31.7,31.8,32.1,32.3,32.1,32.6,32.4,33.0,33.3,33.7
5,"Charlotte, NC",33.8,34.7,34.3,35.0,33.3,33.2,33.7,33.3,33.3,33.8,34.3,34.0,34.4,34.7,34.2,34.4,34.8,34.5,34.7
6,"Chicago, IL",33.1,33.6,34.1,34.0,32.9,32.8,33.0,33.6,33.7,33.9,34.2,34.4,34.6,34.9,35.2,34.8,35.8,35.8,36.4
7,"Cincinnati, OH",33.3,34.9,35.3,36.6,32.6,32.5,32.9,32.0,32.5,33.0,32.7,32.2,32.7,33.0,32.5,32.4,32.5,33.5,34.1
8,"Cleveland, OH",35.3,36.9,37.0,36.9,36.8,37.0,37.7,35.8,34.9,34.8,36.0,36.4,36.2,36.3,35.5,36.3,36.3,36.8,36.3
9,"Columbus, OH",32.1,32.5,32.5,32.5,31.5,31.6,31.6,32.0,32.3,31.9,32.5,32.3,32.2,32.3,32.4,32.4,33.1,33.3,33.4
10,"Dallas, TX",31.9,31.9,31.9,31.9,31.6,31.6,31.6,32.4,32.1,32.4,32.6,32.7,32.4,33.3,32.9,32.9,33.7,33.1,33.5
11,"Denver, CO",34.3,35.0,35.3,35.4,33.0,33.6,33.6,33.7,34.1,34.2,34.1,34.4,34.5,34.6,34.7,34.6,35.1,35.1,35.4
12,"Detroit, MI",32.5,33.0,33.7,35.0,34.7,35.1,35.2,35.1,35.2,35.1,34.8,34.0,34.6,35.0,35.0,34.6,35.3,35.3,35.2
13,"Fresno, CA",28.1,28.8,29.1,28.9,29.1,28.9,29.4,30.2,30.0,30.5,30.0,30.9,31.5,31.5,31.8,31.4,32.9,32.4,32.8
14,"Houston, TX",32.3,32.2,32.9,32.9,31.9,32.2,32.2,32.5,32.7,32.7,32.6,33.0,33.1,33.1,33.4,33.3,34.8,34.6,34.5
15,"Jacksonville, FL",35.2,35.6,35.9,36.4,34.6,35.4,35.6,35.5,35.8,35.8,35.7,35.7,35.8,36.0,36.1,35.9,36.6,36.5,36.9
16,"Memphis, TN",33.0,33.7,33.9,34.3,33.3,33.4,33.6,33.2,33.0,33.8,34.1,33.8,33.6,34.3,34.6,34.2,34.3,34.7,33.9
17,"Milwaukee, WI",31.8,32.2,31.9,32.0,31.3,30.5,31.0,30.5,31.1,31.6,31.6,31.0,31.9,31.5,31.5,31.4,32.3,32.6,32.6
18,"Minneapolis, MN",32.1,33.6,35.3,34.1,31.6,31.7,32.3,31.4,32.1,31.8,32.4,32.0,32.4,32.2,32.2,32.3,33.5,33.3,33.3
19,"Omaha, NE",34.1,34.4,34.5,34.9,33.1,33.6,34.0,33.5,34.2,34.2,34.2,34.7,34.5,35.1,34.6,34.9,35.6,35.3,35.9
20,"Orlando, FL",33.2,33.1,31.8,34.2,32.3,32.4,33.0,32.4,33.6,33.5,33.1,33.1,33.0,33.9,34.6,33.9,35.7,36.0,35.3
21,"Philadelphia, PA",35.3,35.4,35.6,35.7,34.2,33.5,33.4,33.6,33.7,33.8,34.1,34.1,34.4,34.5,34.7,34.6,35.2,35.1,35.6
22,"Phoenix, AZ",30.9,31.7,31.4,32.2,31.4,32.4,32.8,32.9,32.8,33.2,33.8,33.4,33.8,33.5,34.4,33.9,34.5,35.1,34.9
23,"Pittsburgh, PA",38.4,37.9,36.6,36.2,34.5,33.0,34.4,33.0,33.7,32.8,32.9,33.5,33.3,34.0,33.3,33.4,34.2,33.1,34.1
24,"Portland, OR",36.4,37.1,37.8,37.3,35.3,35.5,35.7,36.6,36.6,37.1,36.7,36.7,36.8,37.6,37.5,37.5,38.3,38.5,39.4
25,"Raleigh, NC",32.6,32.2,32.3,32.3,31.8,32.2,32.2,32.4,32.8,32.4,32.8,33.8,33.4,34.1,34.5,34.0,35.0,34.6,34.9
26,"Sacramento, CA",33.0,33.2,33.6,33.3,32.9,33.4,33.1,34.2,34.1,33.6,33.7,34.7,35.2,34.3,34.8,34.9,36.3,36.0,36.2
27,"Seattle, WA",36.8,37.7,37.9,38.3,36.7,36.2,35.8,35.9,36.1,36.4,35.5,35.5,35.6,35.2,34.7,35.2,35.5,35.9,35.6
28,"Tampa, FL",36.2,35.1,35.4,35.8,34.8,33.7,35.1,34.4,35.5,35.5,35.3,36.2,36.6,34.6,36.0,35.9,35.8,35.3,35.9
29,"Tucson, AZ",32.4,32.6,33.0,33.2,33.1,32.8,33.8,33.3,33.3,33.4,33.6,33.4,34.1,33.5,34.5,34.0,33.6,33.8,35.6
30,"Tulsa, OK",35.3,36.1,35.6,35.8,34.9,35.1,34.8,34.8,34.7,35.4,35.0,34.5,35.5,35.4,35.5,35.2,35.9,35.8,35.7
31,"Washington, DC",35.9,35.0,34.9,34.9,35.1,33.9,33.4,33.7,33.8,33.8,33.8,33.9,34.0,33.9,34.3,34.1,34.8,34.9,34.9
32,"Wichita, KS",34.2,34.8,35.0,34.0,34.3,33.9,34.3,35.1,34.0,34.0,34.6,34.7,35.9,35.3,35.3,35.3,35.6,36.2,36.8

In [46]:
df_income_35 = df_income[df_income["City"].isin(t["City"].unique())]
df_income_35 = df_income_35.reset_index()
df_income_35= df_income_35.drop(columns=['index'], errors='ignore')
df_income_35

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",41820.0,43021.0,43677.0,46437.0,44594.0,46079.0,43606.0,45373.0,48357.0,46433.0,47096.0,50522.0,50456.0,51099.0,55567.0,53936.0,58512.0,64757.0,67907.0
1,"Atlanta, GA",39752.0,41612.0,47153.0,48865.0,49981.0,41631.0,43903.0,46466.0,46485.0,46777.0,50210.0,53843.0,57597.0,65345.0,66657.0,64179.0,74107.0,83251.0,85880.0
2,"Austin, TX",43731.0,47212.0,48966.0,51372.0,50132.0,47434.0,49987.0,52453.0,56351.0,58458.0,62250.0,66697.0,67755.0,71543.0,75413.0,75752.0,79542.0,89415.0,91501.0
3,"Baltimore, MD",32456.0,36031.0,36949.0,40313.0,38772.0,38346.0,38721.0,39241.0,42266.0,42665.0,44165.0,47350.0,47131.0,51000.0,50177.0,52164.0,54652.0,55198.0,59579.0
4,"Boston, MA",42562.0,47974.0,50476.0,51688.0,55979.0,49893.0,49081.0,51642.0,53583.0,56902.0,58263.0,63621.0,66758.0,71834.0,79018.0,76298.0,79283.0,86331.0,96931.0
5,"Charlotte, NC",47131.0,48670.0,52690.0,52530.0,49779.0,49616.0,50177.0,50950.0,51034.0,55178.0,53919.0,61017.0,61350.0,60764.0,63483.0,65359.0,70869.0,74401.0,80581.0
6,"Chicago, IL",41015.0,43223.0,45505.0,46911.0,45734.0,44776.0,43628.0,45214.0,47099.0,48734.0,50702.0,53006.0,55295.0,57238.0,61811.0,62097.0,66576.0,70386.0,74474.0
7,"Cincinnati, OH",29554.0,31103.0,33006.0,33562.0,32754.0,34110.0,31301.0,30188.0,34605.0,32688.0,35001.0,38539.0,38938.0,43585.0,46260.0,42663.0,42733.0,48130.0,54314.0
8,"Cleveland, OH",24105.0,26535.0,28512.0,26731.0,24687.0,25977.0,25371.0,24257.0,26096.0,24701.0,28831.0,27551.0,28974.0,29953.0,32053.0,31838.0,35562.0,37351.0,39041.0
9,"Columbus, OH",40405.0,40074.0,42253.0,44369.0,41370.0,41397.0,40463.0,43844.0,44426.0,46481.0,47401.0,49602.0,51708.0,52971.0,57118.0,54902.0,58202.0,61727.0,62350.0
10,"Dallas, TX",36403.0,38276.0,40986.0,40796.0,39829.0,40650.0,40585.0,41354.0,41978.0,43003.0,45918.0,47243.0,50627.0,52210.0,55332.0,54747.0,57995.0,65400.0,70121.0
11,"Denver, CO",42370.0,40900.0,44444.0,45831.0,46410.0,45074.0,47371.0,50488.0,51089.0,54941.0,58003.0,61105.0,65224.0,68377.0,75646.0,72661.0,81630.0,88213.0,94157.0
12,"Detroit, MI",28069.0,28364.0,28097.0,28730.0,26098.0,25787.0,25193.0,23600.0,24820.0,25769.0,25980.0,28099.0,30344.0,31283.0,33965.0,32498.0,36140.0,36453.0,38080.0
13,"Fresno, CA",37800.0,40328.0,44513.0,40134.0,43223.0,41144.0,40533.0,38386.0,40179.0,39880.0,43494.0,44905.0,48600.0,49813.0,53161.0,53368.0,61250.0,64196.0,67603.0
14,"Houston, TX",36894.0,39682.0,40856.0,44315.0,42945.0,42355.0,42877.0,42847.0,45353.0,45460.0,48064.0,47793.0,50896.0,51203.0,52450.0,53600.0,55499.0,60426.0,62637.0
15,"Jacksonville, FL",44173.0,45285.0,48699.0,50476.0,46312.0,45584.0,44802.0,42800.0,47424.0,44591.0,48239.0,51298.0,51497.0,54269.0,56975.0,55531.0,58621.0,69309.0,68069.0
16,"Memphis, TN",33244.0,32594.0,35143.0,37207.0,34203.0,37045.0,34960.0,33563.0,36722.0,34704.0,36908.0,38826.0,39333.0,37199.0,43794.0,41864.0,44317.0,50622.0,51399.0
17,"Milwaukee, WI",32666.0,33990.0,35281.0,37331.0,34868.0,32911.0,33122.0,34042.0,35186.0,35049.0,37495.0,38097.0,39098.0,42087.0,44192.0,43125.0,46637.0,49270.0,52992.0
18,"Minneapolis, MN",41829.0,43369.0,44423.0,48724.0,45538.0,46508.0,46682.0,47604.0,50563.0,50791.0,54571.0,56255.0,60789.0,63590.0,65889.0,66068.0,69397.0,74473.0,81001.0
19,"Omaha, NE",40484.0,42321.0,45170.0,44358.0,46595.0,43813.0,45536.0,45159.0,47512.0,48410.0,51407.0,52672.0,56406.0,59266.0,61305.0,62213.0,62948.0,67450.0,71238.0
20,"Orlando, FL",36699.0,42036.0,43761.0,43127.0,39881.0,38098.0,40275.0,41695.0,41345.0,41081.0,44804.0,46761.0,47594.0,51820.0,58819.0,55183.0,54167.0,65354.0,69414.0
21,"Philadelphia, PA",32573.0,33229.0,35365.0,36976.0,37045.0,34400.0,34207.0,35386.0,36836.0,39043.0,41233.0,41449.0,39759.0,46116.0,47474.0,49127.0,52899.0,56517.0,60302.0
22,"Phoenix, AZ",42353.0,46645.0,48061.0,50140.0,47085.0,42260.0,43960.0,44153.0,46601.0,47929.0,48452.0,52062.0,56696.0,57957.0,60931.0,60914.0,68435.0,75969.0,79664.0
23,"Pittsburgh, PA",30278.0,31779.0,32363.0,36709.0,37461.0,36196.0,35947.0,39884.0,42004.0,41074.0,41293.0,44707.0,45851.0,47417.0,53799.0,50536.0,57821.0,63380.0,66219.0
24,"Portland, OR",42287.0,44273.0,47143.0,50979.0,50203.0,47185.0,47033.0,52158.0,55571.0,54624.0,60892.0,62127.0,66187.0,73097.0,76231.0,73159.0,79057.0,81119.0,86057.0
25,"Raleigh, NC",48131.0,51123.0,51071.0,53825.0,51969.0,49931.0,52040.0,53653.0,55170.0,53475.0,56910.0,64456.0,64660.0,65695.0,69333.0,69720.0,74612.0,75424.0,86309.0
26,"Sacramento, CA",44867.0,46055.0,49849.0,50958.0,47107.0,46731.0,47908.0,48546.0,48034.0,48829.0,52151.0,55187.0,56943.0,65046.0,69134.0,65847.0,75311.0,80254.0,85928.0
27,"Seattle, WA",49297.0,58311.0,57849.0,61786.0,60843.0,60212.0,61037.0,64473.0,70172.0,70975.0,80349.0,83476.0,86822.0,93481.0,102486.0,97185.0,110781.0,115409.0,120608.0
28,"Tampa, FL",38568.0,39602.0,44079.0,45224.0,41605.0,40883.0,40073.0,40894.0,42649.0,45709.0,44432.0,50405.0,50489.0,54599.0,57709.0,55634.0,63404.0,71089.0,72851.0
29,"Tucson, AZ",34241.0,36095.0,36096.0,36640.0,35565.0,36428.0,35362.0,35354.0,35720.0,36541.0,38155.0,40021.0,41613.0,43676.0,44365.0,45227.0,50306.0,51281.0,55708.0
30,"Tulsa, OK",35966.0,36137.0,38270.0,39657.0,38426.0,38220.0,40123.0,40440.0,41495.0,42803.0,43322.0,43134.0,45894.0,47583.0,49158.0,49474.0,51008.0,54040.0,56821.0
31,"Washington, DC",47221.0,51847.0,54317.0,57936.0,59290.0,60903.0,63124.0,66583.0,67572.0,71648.0,75628.0,75506.0,82372.0,85203.0,92266.0,90842.0,90088.0,101027.0,108210.0
32,"Wichita, KS",40115.0,41089.0,42696.0,44211.0,44405.0,42694.0,44184.0,43776.0,43538.0,45477.0,46894.0,49202.0,50504.0,51051.0,55056.0,53466.0,56293.0,59277.0,61281.0

In [47]:
df_geomob_35 = df_geomob[df_geomob["City"].isin(t["City"].unique())]
df_geomob_35 = df_geomob_35.reset_index()
df_geomob_35 = df_geomob_35.drop(columns=['index'], errors='ignore')
df_geomob_35

Year,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Albuquerque, NM",482442.0,485982.0,505490.0,506706.0,519532.0,540574.0,544579.0,548340.0,549629.0,550317.0,552275.0,553849.0,551049.0,553759.0,553804.0,554784.0,558997.0,554890.0,555391.0
1,"Atlanta, GA",388422.0,438135.0,425366.0,447703.0,532685.0,416670.0,427164.0,438201.0,441997.0,449800.0,460327.0,467099.0,481420.0,491120.0,501947.0,492410.0,491005.0,494738.0,505496.0
2,"Austin, TX",665672.0,706505.0,734639.0,763919.0,777744.0,782461.0,809464.0,831672.0,874143.0,900040.0,919721.0,934294.0,938330.0,953463.0,967577.0,954333.0,953064.0,966426.0,970338.0
3,"Baltimore, MD",600543.0,622612.0,627273.0,628349.0,628138.0,612017.0,610849.0,612602.0,612995.0,615275.0,613552.0,607542.0,603746.0,595926.0,586469.0,595287.0,568926.0,563521.0,558241.0
4,"Boston, MA",511840.0,565420.0,606616.0,603998.0,636866.0,615629.0,618046.0,631408.0,638500.0,648438.0,661446.0,664168.0,676287.0,688679.0,687036.0,681962.0,646938.0,643455.0,645761.0
5,"Charlotte, NC",592140.0,640115.0,663081.0,673310.0,692387.0,725808.0,741987.0,762800.0,784272.0,798163.0,815490.0,830055.0,849948.0,862010.0,872125.0,862707.0,869445.0,885833.0,899656.0
6,"Chicago, IL",2655958.0,2702974.0,2697424.0,2698979.0,2804553.0,2659970.0,2670397.0,2675954.0,2684006.0,2687174.0,2685744.0,2667356.0,2684432.0,2672528.0,2659927.0,2665195.0,2667710.0,2635373.0,2638357.0
7,"Cincinnati, OH",281470.0,297519.0,292841.0,290556.0,327200.0,292618.0,291953.0,292065.0,293077.0,294407.0,294953.0,294003.0,296183.0,296698.0,300216.0,297749.0,306069.0,306207.0,307941.0
8,"Cleveland, OH",409774.0,401415.0,390736.0,402071.0,425334.0,391838.0,389490.0,386729.0,383823.0,384180.0,383529.0,381509.0,380695.0,378633.0,376088.0,378932.0,364392.0,357719.0,358939.0
9,"Columbus, OH",680756.0,705847.0,719362.0,725316.0,760540.0,778002.0,786775.0,798718.0,809934.0,823548.0,836248.0,849806.0,868634.0,883234.0,887026.0,876171.0,895229.0,895858.0,897432.0
10,"Dallas, TX",1121138.0,1170743.0,1217815.0,1200940.0,1272539.0,1184310.0,1206334.0,1222427.0,1242023.0,1260677.0,1278532.0,1296979.0,1320642.0,1328601.0,1321238.0,1319420.0,1270447.0,1279926.0,1287866.0
11,"Denver, CO",530860.0,554747.0,577696.0,587611.0,600376.0,595003.0,610005.0,624608.0,639929.0,655069.0,672556.0,683757.0,697290.0,706987.0,719506.0,707712.0,703702.0,705387.0,708432.0
12,"Detroit, MI",823511.0,821700.0,798762.0,767540.0,898565.0,702073.0,696759.0,692752.0,679356.0,670586.0,668337.0,661751.0,664366.0,662750.0,661408.0,662568.0,623360.0,613581.0,625759.0
13,"Fresno, CA",468823.0,468894.0,467164.0,466448.0,471218.0,488690.0,493749.0,497408.0,502698.0,508501.0,510470.0,511751.0,520357.0,522717.0,525068.0,518790.0,536835.0,536994.0,539014.0
14,"Houston, TX",1905895.0,2039957.0,2011629.0,1986684.0,2218541.0,2073046.0,2115408.0,2133021.0,2163581.0,2210650.0,2261829.0,2266947.0,2274143.0,2291172.0,2286546.0,2279884.0,2257448.0,2273980.0,2276308.0
15,"Jacksonville, FL",757882.0,786686.0,794748.0,803211.0,802746.0,812641.0,816038.0,825648.0,830415.0,840567.0,856748.0,867624.0,878097.0,892080.0,899706.0,888817.0,942505.0,959782.0,974186.0
16,"Memphis, TN",630694.0,630626.0,628260.0,622802.0,664468.0,639074.0,643966.0,644689.0,642845.0,649380.0,646507.0,644105.0,645006.0,640895.0,643396.0,642416.0,620039.0,611769.0,609736.0
17,"Milwaukee, WI",547275.0,552369.0,571962.0,570813.0,596117.0,585667.0,589185.0,590189.0,590337.0,592299.0,592277.0,587264.0,587109.0,584202.0,581896.0,584166.0,562597.0,558292.0,555962.0
18,"Minneapolis, MN",344377.0,363023.0,345870.0,354669.0,379856.0,377496.0,383230.0,387471.0,394721.0,400388.0,405097.0,406880.0,417374.0,420132.0,423224.0,419286.0,421177.0,419839.0,419780.0
19,"Omaha, NE",367570.0,376136.0,368322.0,382393.0,447351.0,402754.0,408861.0,415971.0,428796.0,439363.0,438025.0,441230.0,460242.0,460915.0,470662.0,472540.0,481080.0,477774.0,478300.0
20,"Orlando, FL",216837.0,215687.0,220265.0,228973.0,232369.0,235901.0,240837.0,246155.0,252370.0,258478.0,266949.0,273775.0,275757.0,282131.0,283664.0,281421.0,306378.0,313625.0,316702.0
21,"Philadelphia, PA",1384092.0,1427922.0,1425456.0,1425845.0,1528196.0,1510651.0,1515863.0,1526107.0,1531037.0,1536510.0,1546208.0,1543861.0,1562649.0,1563422.0,1564638.0,1559890.0,1558765.0,1548664.0,1530695.0
22,"Phoenix, AZ",1354304.0,1405474.0,1485653.0,1494910.0,1566230.0,1428327.0,1447691.0,1466025.0,1488825.0,1516220.0,1542578.0,1590170.0,1604130.0,1638454.0,1660734.0,1637201.0,1604577.0,1625768.0,1634990.0
23,"Pittsburgh, PA",281188.0,292924.0,288027.0,294264.0,308590.0,302709.0,305051.0,303049.0,302193.0,301843.0,301549.0,301325.0,299597.0,298041.0,297682.0,298260.0,298278.0,300449.0,300292.0
24,"Portland, OR",505427.0,531136.0,543033.0,553301.0,558421.0,577463.0,588652.0,597229.0,603324.0,613097.0,624849.0,633013.0,641113.0,647558.0,648136.0,644608.0,637452.0,628521.0,624727.0
25,"Raleigh, NC",311788.0,340336.0,349239.0,362966.0,398050.0,401196.0,410184.0,417636.0,426414.0,434346.0,447096.0,453964.0,460144.0,464260.0,469096.0,464068.0,465968.0,471209.0,477712.0
26,"Sacramento, CA",438313.0,430410.0,445672.0,451007.0,458403.0,460918.0,464380.0,470283.0,472456.0,480443.0,483176.0,489282.0,494946.0,502460.0,508736.0,497705.0,520347.0,522521.0,520620.0
27,"Seattle, WA",529917.0,555858.0,570377.0,575008.0,609717.0,603362.0,612350.0,626942.0,645335.0,662250.0,678243.0,697460.0,716870.0,737289.0,747296.0,734270.0,727859.0,744270.0,747884.0
28,"Tampa, FL",307714.0,317885.0,330581.0,335669.0,339272.0,332528.0,342044.0,343415.0,349242.0,354259.0,365484.0,373426.0,381097.0,388361.0,394908.0,391419.0,382531.0,395748.0,399334.0
29,"Tucson, AZ",497334.0,508439.0,513037.0,530510.0,533931.0,515978.0,519863.0,517937.0,519722.0,521331.0,523461.0,523743.0,529237.0,539262.0,543386.0,539697.0,535526.0,540672.0,541472.0
30,"Tulsa, OK",365149.0,375773.0,384454.0,383487.0,383104.0,388405.0,390146.0,388349.0,392521.0,394069.0,396815.0,398007.0,396452.0,396675.0,396163.0,397188.0,406721.0,407633.0,405937.0
31,"Washington, DC",505886.0,572680.0,579800.0,584439.0,592109.0,596747.0,611608.0,624847.0,636535.0,648586.0,663006.0,672022.0,684810.0,693798.0,697556.0,693253.0,661026.0,660942.0,670127.0
32,"Wichita, KS",347984.0,351349.0,355266.0,358047.0,364108.0,378148.0,379792.0,380372.0,380784.0,382385.0,383590.0,385045.0,385843.0,382995.0,384278.0,385454.0,390384.0,393547.0,392189.0

/var/folders/_k/twyqm8dd3gvdw3vfzr0hk_5r0000gn/T/ipykernel_66108/2851407619.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  housedata_35 = housedata[df_unem["City"].isin(t["City"].unique())]

In [25]:
t2 = pd.read_csv("../data/houseprice_35cities.csv")

In [26]:
t3 = pd.read_csv("../data/medianage32.csv")

In [48]:
housedata_35 = housedata[housedata["City"].isin(t3["City"].unique())]

In [50]:
housedata_35

,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2020,2021,2022,2023
0,"Albuquerque, NM",153134.096654,170259.007619,193305.919721,200215.211429,187486.929321,180903.756614,171329.029725,164757.245024,163877.783060,...,169546.379112,176038.325622,183130.699662,189542.195949,198026.609649,212967.821281,212967.821281,241066.303171,280587.610423,308189.892596
2,"Atlanta, GA",179505.707068,186545.601636,192300.481437,191047.167478,171838.828357,152781.210858,139138.933143,125489.469946,131061.115550,...,169023.933257,183060.400400,196831.953236,213850.991653,232342.009387,244899.254853,244899.254853,271374.529330,333524.710382,366964.156658
3,"Austin, TX",186656.878020,192941.385211,199709.993663,207084.238475,201617.906762,198154.577123,192188.468231,190162.573456,201536.716014,...,248561.105165,271392.931472,287958.928699,298873.135564,308349.549469,322358.216323,322358.216323,366784.268716,495450.534586,499571.637422
4,"Baltimore, MD",240788.263853,287923.885227,308939.030866,304359.493716,278858.068520,259095.858290,245870.769189,232832.506267,240968.189706,...,259239.082824,265118.803553,271451.149002,279396.779775,286911.236857,296632.190084,296632.190084,319312.754307,348937.329918,363343.538610
6,"Boston, MA",382715.968493,398584.115753,377807.712517,362087.048748,335987.747593,329631.904785,328532.876118,314696.995585,329627.266928,...,375171.911811,402685.595129,428359.342497,457286.235943,478874.665334,490862.936071,490862.936071,540775.589877,590259.257261,624716.645420
7,"Charlotte, NC",158158.778134,163575.501056,171928.977411,179513.455323,171800.455853,163543.225698,154086.630300,145167.451962,149210.006802,...,167340.161683,180624.052307,195158.159561,211730.427000,226208.934263,239514.120188,239514.120188,270388.423547,331921.347800,364815.983616
8,"Chicago, IL",225717.587667,246012.887969,255288.262533,250497.663970,223765.066690,201582.842850,186465.252079,170878.653276,167263.694859,...,196689.317741,206636.520325,216358.817461,228031.162400,235260.931255,240163.158658,240163.158658,256464.635273,281357.751233,295101.412347
9,"Cincinnati, OH",152092.496851,156955.395939,159202.015388,156781.664959,149453.601401,145555.410360,141293.057061,134287.134103,135560.421066,...,146468.346256,154387.478017,162246.146702,171235.495281,183156.825993,194542.599456,194542.599456,219425.212947,244040.194981,262513.376630
10,"Cleveland, OH",142794.303419,147024.694658,146576.027152,141066.642378,132698.256834,127238.537647,121999.912014,114934.093129,116848.595250,...,122229.454170,129020.998154,135205.676959,143099.875749,151770.237032,158633.030183,158633.030183,175914.726876,192276.047403,208352.258645
11,"Columbus, OH",151478.699343,155521.101439,156101.632518,153107.763322,147981.738895,142587.867648,139393.754637,132484.884654,132411.504985,...,150138.939914,161965.997787,170510.582980,183409.689425,196914.001507,211028.627132,211028.627132,237170.124075,264411.522231,290552.773698
13,"Dallas, TX",147163.845871,149820.397881,154261.606352,155765.405497,147353.907583,148283.675091,143571.884621,139809.676373,147788.355192,...,173311.494415,193933.775162,215245.091553,235773.777741,248806.434894,256428.114746,256428.114746,278270.696399,336270.385321,373400.796386
14,"Denver, CO",245011.192907,249682.287547,248671.777039,242442.365210,231580.699226,230834.659840,225020.106175,219535.375036,238259.934286,...,289884.098646,331333.309212,363470.154715,390851.768914,412908.952709,430030.902110,430030.902110,470150.346358,552332.308562,574911.882713
15,"Detroit, MI",158142.240956,160898.772346,156493.585095,142995.965980,114234.164921,92301.675948,86113.850016,81653.554512,90971.773837,...,124581.946403,135984.233823,147535.806868,161265.110072,173066.465941,182591.499171,182591.499171,200423.777124,221986.047344,234553.539604
17,"Fresno, CA",228079.666185,287424.364691,296337.396094,260443.997463,190998.151377,167148.752108,157379.245365,139435.150894,155806.257106,...,195926.526206,210832.440370,224378.606196,244866.387286,262831.769967,274401.927614,274401.927614,302549.948941,356820.363879,375936.163529
19,"Houston, TX",143523.243113,146047.592639,151635.555754,154600.254961,148187.328341,148902.587371,144841.177591,139720.487545,143032.548451,...,175697.426045,191126.252074,199072.096632,206115.740610,215484.639886,223002.453520,223002.453520,238583.865761,278777.507400,305667.678710
20,"Jacksonville, FL",174047.389705,204591.254743,227424.425142,216510.998103,189305.213011,167010.225193,150834.093714,136169.575526,140099.705390,...,166755.055772,178543.601571,191971.503274,208190.546530,224797.217806,235261.847437,235261.847437,257190.497060,316829.114935,360611.462646
25,"Memphis, TN",126389.121486,131612.680893,136456.256992,134213.574500,122717.987676,115172.709005,111071.097044,106706.290492,108248.157183,...,119393.465335,125148.685742,131018.193477,140846.612939,151951.239970,163454.841572,163454.841572,184610.946220,216338.439004,236680.895770
26,"Milwaukee, WI",201911.370128,218158.203080,221919.137683,220344.355846,203325.761398,197350.388661,185973.736670,173688.832037,174292.191792,...,188381.405784,197624.157007,209055.191603,220097.595780,232240.350992,245693.386302,245693.386302,268874.181018,288431.405573,309214.930906
27,"Minneapolis, MN",238437.489903,251872.955922,252019.777317,241077.663583,214389.732533,203061.056258,192552.479921,174122.458784,190503.627254,...,221518.445250,236173.860292,251444.711044,268704.559650,284595.022939,297486.741034,297486.741034,322980.856066,356853.724467,367720.646874
30,"Omaha, NE",141894.643375,147507.472410,151858.732507,149156.572481,141249.844369,147027.449959,139988.832400,137605.866324,140149.903288,...,149227.002491,158494.174119,166297.754709,177739.151425,187844.006217,200644.448008,200644.448008,222853.833169,245576.217548,269196.690834
31,"Orlando, FL",182152.543859,241485.832264,266076.178193,240915.384025,182059.627248,147762.601138,133568.712419,124046.840172,135615.318996,...,175805.459465,190086.964858,206244.878355,224841.359474,242791.542930,255945.013289,255945.013289,277667.179721,333138.801389,384214.161410
32,"Philadelphia, PA",199515.351740,228025.854218,239576.541384,239167.038501,226266.961975,219674.689775,212111.880899,200090.907259,198223.550834,...,207392.472043,215122.920012,223463.684607,233547.503371,241942.516896,253020.077454,253020.077454,280295.629783,307792.516904,331912.068874
33,"Phoenix, AZ",200405.060404,286482.744399,290097.952644,263124.923427,188846.940312,159756.426769,141663.642422,134495.966098,165192.745607,...,204581.623922,224658.200622,238635.851665,255694.959132,275690.319263,293950.078928,293950.078928,339568.136421,438741.468547,450270.711737
34,"Pittsburgh, PA",108481.245528,113226.530246,115856.981982,118485.665451,117640.899684,120418.706180,122541.139808,121071.432617,122996.545096,...,132416.119637,139115.864993,143746.549786,149782.925848,155290.686578,163497.213375,163497.213375,181728.955729,195295.130483,201647.231734
35,"Portland, OR",224313.262934,271016.156204,305623.008658,309033.615897,279472.377913,256840.604400,239948.471215,221911.491086,235544.777038,...,286777.362270,325885.769013,364017.607513,387261.176248,401369.584335,414925.003328,414925.003328,457917.100823,528302.329733,537346.085856
36,"Raleigh, NC",192476.622368,202293.967365,214837.586970,223589.226884,216287.761229,209981.766191,204561.254151,194434.985962,198460.739520,...,218868.428022,234986.178921,250321.726194,264369.143277,278523.769888,290926.094325,290926.094325,316144.762252,395809.692908,432802.016031
40,"Sacramento, CA",370444.236788,432095.331335,406381.052899,350605.256796,271752.490179,242502.744798,229964.944313,207878.784180,229421.826402,...,311321.381039,338164.524468,365475.362840,397881.036154,415336.527874,431866.156819,431866.156819,477200.972896,565275.416699,563979.454652
47,"Seattle, WA",299643.152814,352198.212910,398889.774715,405935.688966,357748.302029,323666.748708,297615.072646,266714.374457,271791.400173,...,328651.262988,369860.990474,411681.331586,465920.485372,496868.292146,511502.692576,511502.692576,579514.320001,680797.533121,700059.878247
51,"Tampa, FL",169048.252470,211507.508865,227733.699247,201667.486406,161729.670316,139153.283474,128574.885124,116206.529386,124118.312206,...,154836.496868,170746.462467,188203.049506,205975.461962,220367.663274,232817.374908,232817.374908,258738.957597,324846.244790,371875.542423
53,"Tucson, AZ",174185.072014,226725.239235,235879.680250,223009.080649,191140.580203,171524.134838,156746.039822,136212.564846,153919.239608,...,172410.651885,178974.895500,188631.299760,201440.328416,214829.059181,231224.423750,231224.423750,261345.753604,318821.306103,338931.822862
54,"Tulsa, OK",119011.428512,122572.236610,126631.155753,128703.725609,128249.297829,128489.292442,126555.345950,122320.595856,124317.416528,...,132175.712739,133695.855264,142860.749094,144607.245824,151946.726196,161056.201194,161056.201194,179646.535083,205717.606000,223513.986699
55,"Washington, DC",353870.310624,425827.446853,431580.115027,401361.672296,339165.992536,319790.067157,318414.811863,314068.095519,336099.631543,...,373022.696856,383018.369391,391994.521572,405671.256961,418772.380170,434866.175839,434866.175839,473189.903986,514290.971029,532275.461912
56,"Wichita, KS",109902.909894,107354.068820,111378.148774,114261.777919,115047.300787,117629.032166,114371.627302,110632.660399,111972.287113,...,115130.546461,121298.549765,124458.587128,128795.614263,134578.073415,144698.977594,144698.977594,158485.933434,177256.373997,194398.312509

In [53]:
housedata_35 = housedata_35.reset_index()
housedata_35 = housedata_35.drop(columns=['index'], errors='ignore')

In [54]:
housedata_35

,City,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2020,2021,2022,2023
0,"Albuquerque, NM",153134.096654,170259.007619,193305.919721,200215.211429,187486.929321,180903.756614,171329.029725,164757.245024,163877.783060,...,169546.379112,176038.325622,183130.699662,189542.195949,198026.609649,212967.821281,212967.821281,241066.303171,280587.610423,308189.892596
1,"Atlanta, GA",179505.707068,186545.601636,192300.481437,191047.167478,171838.828357,152781.210858,139138.933143,125489.469946,131061.115550,...,169023.933257,183060.400400,196831.953236,213850.991653,232342.009387,244899.254853,244899.254853,271374.529330,333524.710382,366964.156658
2,"Austin, TX",186656.878020,192941.385211,199709.993663,207084.238475,201617.906762,198154.577123,192188.468231,190162.573456,201536.716014,...,248561.105165,271392.931472,287958.928699,298873.135564,308349.549469,322358.216323,322358.216323,366784.268716,495450.534586,499571.637422
3,"Baltimore, MD",240788.263853,287923.885227,308939.030866,304359.493716,278858.068520,259095.858290,245870.769189,232832.506267,240968.189706,...,259239.082824,265118.803553,271451.149002,279396.779775,286911.236857,296632.190084,296632.190084,319312.754307,348937.329918,363343.538610
4,"Boston, MA",382715.968493,398584.115753,377807.712517,362087.048748,335987.747593,329631.904785,328532.876118,314696.995585,329627.266928,...,375171.911811,402685.595129,428359.342497,457286.235943,478874.665334,490862.936071,490862.936071,540775.589877,590259.257261,624716.645420
5,"Charlotte, NC",158158.778134,163575.501056,171928.977411,179513.455323,171800.455853,163543.225698,154086.630300,145167.451962,149210.006802,...,167340.161683,180624.052307,195158.159561,211730.427000,226208.934263,239514.120188,239514.120188,270388.423547,331921.347800,364815.983616
6,"Chicago, IL",225717.587667,246012.887969,255288.262533,250497.663970,223765.066690,201582.842850,186465.252079,170878.653276,167263.694859,...,196689.317741,206636.520325,216358.817461,228031.162400,235260.931255,240163.158658,240163.158658,256464.635273,281357.751233,295101.412347
7,"Cincinnati, OH",152092.496851,156955.395939,159202.015388,156781.664959,149453.601401,145555.410360,141293.057061,134287.134103,135560.421066,...,146468.346256,154387.478017,162246.146702,171235.495281,183156.825993,194542.599456,194542.599456,219425.212947,244040.194981,262513.376630
8,"Cleveland, OH",142794.303419,147024.694658,146576.027152,141066.642378,132698.256834,127238.537647,121999.912014,114934.093129,116848.595250,...,122229.454170,129020.998154,135205.676959,143099.875749,151770.237032,158633.030183,158633.030183,175914.726876,192276.047403,208352.258645
9,"Columbus, OH",151478.699343,155521.101439,156101.632518,153107.763322,147981.738895,142587.867648,139393.754637,132484.884654,132411.504985,...,150138.939914,161965.997787,170510.582980,183409.689425,196914.001507,211028.627132,211028.627132,237170.124075,264411.522231,290552.773698
10,"Dallas, TX",147163.845871,149820.397881,154261.606352,155765.405497,147353.907583,148283.675091,143571.884621,139809.676373,147788.355192,...,173311.494415,193933.775162,215245.091553,235773.777741,248806.434894,256428.114746,256428.114746,278270.696399,336270.385321,373400.796386
11,"Denver, CO",245011.192907,249682.287547,248671.777039,242442.365210,231580.699226,230834.659840,225020.106175,219535.375036,238259.934286,...,289884.098646,331333.309212,363470.154715,390851.768914,412908.952709,430030.902110,430030.902110,470150.346358,552332.308562,574911.882713
12,"Detroit, MI",158142.240956,160898.772346,156493.585095,142995.965980,114234.164921,92301.675948,86113.850016,81653.554512,90971.773837,...,124581.946403,135984.233823,147535.806868,161265.110072,173066.465941,182591.499171,182591.499171,200423.777124,221986.047344,234553.539604
13,"Fresno, CA",228079.666185,287424.364691,296337.396094,260443.997463,190998.151377,167148.752108,157379.245365,139435.150894,155806.257106,...,195926.526206,210832.440370,224378.606196,244866.387286,262831.769967,274401.927614,274401.927614,302549.948941,356820.363879,375936.163529
14,"Houston, TX",143523.243113,146047.592639,151635.555754,154600.254961,148187.328341,148902.587371,144841.177591,139720.487545,143032.548451,...,175697.426045,191126.252074,199072.096632,206115.740610,215484.639886,223002.453520,223002.453520,238583.865761,278777.507400,305667.678710
15,"Jacksonville, FL",174047.389705,204591.254743,227424.425142,216510.998103,189305.213011,167010.225193,150834.093714,136169.575526,140099.705390,...,166755.055772,178543.601571,191971.503274,208190.546530,224797.217806,235261.847437,235261.847437,257190.497060,316829.114935,360611.462646
16,"Memphis, TN",126389.121486,131612.680893,136456.256992,134213.574500,122717.987676,115172.709005,111071.097044,106706.290492,108248.157183,...,119393.465335,125148.685742,131018.193477,140846.612939,151951.239970,163454.841572,163454.841572,184610.946220,216338.439004,236680.895770
17,"Milwaukee, WI",201911.370128,218158.203080,221919.137683,220344.355846,203325.761398,197350.388661,185973.736670,173688.832037,174292.191792,...,188381.405784,197624.157007,209055.191603,220097.595780,232240.350992,245693.386302,245693.386302,268874.181018,288431.405573,309214.930906
18,"Minneapolis, MN",238437.489903,251872.955922,252019.777317,241077.663583,214389.732533,203061.056258,192552.479921,174122.458784,190503.627254,...,221518.445250,236173.860292,251444.711044,268704.559650,284595.022939,297486.741034,297486.741034,322980.856066,356853.724467,367720.646874
19,"Omaha, NE",141894.643375,147507.472410,151858.732507,149156.572481,141249.844369,147027.449959,139988.832400,137605.866324,140149.903288,...,149227.002491,158494.174119,166297.754709,177739.151425,187844.006217,200644.448008,200644.448008,222853.833169,245576.217548,269196.690834
20,"Orlando, FL",182152.543859,241485.832264,266076.178193,240915.384025,182059.627248,147762.601138,133568.712419,124046.840172,135615.318996,...,175805.459465,190086.964858,206244.878355,224841.359474,242791.542930,255945.013289,255945.013289,277667.179721,333138.801389,384214.161410
21,"Philadelphia, PA",199515.351740,228025.854218,239576.541384,239167.038501,226266.961975,219674.689775,212111.880899,200090.907259,198223.550834,...,207392.472043,215122.920012,223463.684607,233547.503371,241942.516896,253020.077454,253020.077454,280295.629783,307792.516904,331912.068874
22,"Phoenix, AZ",200405.060404,286482.744399,290097.952644,263124.923427,188846.940312,159756.426769,141663.642422,134495.966098,165192.745607,...,204581.623922,224658.200622,238635.851665,255694.959132,275690.319263,293950.078928,293950.078928,339568.136421,438741.468547,450270.711737
23,"Pittsburgh, PA",108481.245528,113226.530246,115856.981982,118485.665451,117640.899684,120418.706180,122541.139808,121071.432617,122996.545096,...,132416.119637,139115.864993,143746.549786,149782.925848,155290.686578,163497.213375,163497.213375,181728.955729,195295.130483,201647.231734
24,"Portland, OR",224313.262934,271016.156204,305623.008658,309033.615897,279472.377913,256840.604400,239948.471215,221911.491086,235544.777038,...,286777.362270,325885.769013,364017.607513,387261.176248,401369.584335,414925.003328,414925.003328,457917.100823,528302.329733,537346.085856
25,"Raleigh, NC",192476.622368,202293.967365,214837.586970,223589.226884,216287.761229,209981.766191,204561.254151,194434.985962,198460.739520,...,218868.428022,234986.178921,250321.726194,264369.143277,278523.769888,290926.094325,290926.094325,316144.762252,395809.692908,432802.016031
26,"Sacramento, CA",370444.236788,432095.331335,406381.052899,350605.256796,271752.490179,242502.744798,229964.944313,207878.784180,229421.826402,...,311321.381039,338164.524468,365475.362840,397881.036154,415336.527874,431866.156819,431866.156819,477200.972896,565275.416699,563979.454652
27,"Seattle, WA",299643.152814,352198.212910,398889.774715,405935.688966,357748.302029,323666.748708,297615.072646,266714.374457,271791.400173,...,328651.262988,369860.990474,411681.331586,465920.485372,496868.292146,511502.692576,511502.692576,579514.320001,680797.533121,700059.878247
28,"Tampa, FL",169048.252470,211507.508865,227733.699247,201667.486406,161729.670316,139153.283474,128574.885124,116206.529386,124118.312206,...,154836.496868,170746.462467,188203.049506,205975.461962,220367.663274,232817.374908,232817.374908,258738.957597,324846.244790,371875.542423
29,"Tucson, AZ",174185.072014,226725.239235,235879.680250,223009.080649,191140.580203,171524.134838,156746.039822,136212.564846,153919.239608,...,172410.651885,178974.895500,188631.299760,201440.328416,214829.059181,231224.423750,231224.423750,261345.753604,318821.306103,338931.822862
30,"Tulsa, OK",119011.428512,122572.236610,126631.155753,128703.725609,128249.297829,128489.292442,126555.345950,122320.595856,124317.416528,...,132175.712739,133695.855264,142860.749094,144607.245824,151946.726196,161056.201194,161056.201194,179646.535083,205717.606000,223513.986699
31,"Washington, DC",353870.310624,425827.446853,431580.115027,401361.672296,339165.992536,319790.067157,318414.811863,314068.095519,336099.631543,...,373022.696856,383018.369391,391994.521572,405671.256961,418772.380170,434866.175839,434866.175839,473189.903986,514290.971029,532275.461912
32,"Wichita, KS",109902.909894,107354.068820,111378.148774,114261.777919,115047.300787,117629.032166,114371.627302,110632.660399,111972.287113,...,115130.546461,121298.549765,124458.587128,128795.614263,134578.073415,144698.977594,144698.977594,158485.933434,177256.373997,194398.312509

In [1]:
housedata

NameError: name 'housedata' is not defined

In [56]:
df_geomob_35.to_csv('../data/geomob.csv')
df_unem_35.to_csv('../data/unemployment.csv')
df_income_35.to_csv('../data/income.csv')
df_age_35.to_csv('../data/medianage.csv')
housedata_35.to_csv('../data/housingprice.csv')