In [1]:
import pandas as pd

In [12]:
merged_data = pd.read_csv("../data/merged_data.csv")

In [13]:
merged_data.rename(columns={'year': 'city', 'city': 'year'}, inplace=True)

In [14]:
merged_data = merged_data.drop("Unnamed: 0", axis=1)

In [23]:
merged_data["city"].unique()

array(['Albuquerque, NM', 'Sacramento, CA', 'Seattle, WA', 'Raleigh, NC',
       'Las Vegas, NV', 'Denver, CO', 'Wichita, KS', 'San Antonio, TX',
       'Tulsa, OK', 'Riverside, CA', 'New Orleans, LA', 'Toledo, OH',
       'Chicago, IL', 'Stockton, CA', 'Washington, DC', 'Greensboro, NC',
       'Omaha, NE', 'Tucson, AZ', 'San Francisco, CA', 'Anchorage, AK',
       'Pittsburgh, PA', 'St. Louis, MO', 'Philadelphia, PA',
       'Lincoln, NE', 'Detroit, MI', 'Portland, OR', 'San Diego, CA',
       'Milwaukee, WI', 'Phoenix, AZ', 'Los Angeles, CA', 'El Paso, TX',
       'Cincinnati, OH', 'Tampa, FL', 'Minneapolis, MN', 'Houston, TX',
       'Memphis, TN', 'Fresno, CA', 'San Jose, CA', 'Atlanta, GA',
       'Columbus, OH', 'Jacksonville, FL', 'Corpus Christi, TX',
       'Dallas, TX', 'Baltimore, MD', 'Austin, TX', 'Cleveland, OH',
       'Boston, MA', 'Charlotte, NC'], dtype=object)

In [24]:
pivot = merged_data.pivot(index='city', columns='year', values='geomobility')

In [28]:
t = pd.read_csv("../data/houseprice_35cities.csv")

In [34]:
merged_data[merged_data["city"].isin(t["City"].unique())]["city"].unique().shape

(32,)