In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [8]:
crime <- read.csv("crime_rate_35cities.csv")
price <- read.csv("houseprice_35cities.csv")
income <- read.csv("income_35cities.csv")
age <- read.csv("medianage_35cities.csv")
unemployment <- read.csv("unemployment_35cities.csv")

In [9]:
crime <- select(crime, -X)
price <- select(price, -X)
income <- select(income, -X)
age <- select(age, -X)
unemployment <- select(unemployment, -X)

In [12]:
colnames(crime) <- c('City', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015')
colnames(price) <- c('City', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015')
colnames(income) <- c('City', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015')
colnames(age) <- c('City', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015')
colnames(unemployment) <- c('City', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015')

In [16]:
crime <- pivot_longer(crime, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'), names_to = "year", values_to = "crime")
price <- pivot_longer(price, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'), names_to = "year", values_to = "price")
income <- pivot_longer(income, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'), names_to = "year", values_to = "income")
age <- pivot_longer(age, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'), names_to = "year", values_to = "age")
unemployment <- pivot_longer(unemployment, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'), names_to = "year", values_to = "unemployment")

In [18]:
crime$year = as.integer(crime$year)
price$year = as.integer(price$year)
income$year = as.integer(income$year)
age$year = as.integer(age$year)
unemployment$year = as.integer(unemployment$year)

In [19]:
head(crime)
head(price)
head(income)
head(age)
head(unemployment)

  City            year crime
1 Albuquerque, NM 2005 0.01903671
2 Albuquerque, NM 2006 0.01816530
3 Albuquerque, NM 2007 0.01980028
4 Albuquerque, NM 2008 0.01788937
5 Albuquerque, NM 2009 0.01538531
6 Albuquerque, NM 2010 0.01572221

  City            year price
1 Albuquerque, NM 2005 153134.1
2 Albuquerque, NM 2006 170259.0
3 Albuquerque, NM 2007 193305.9
4 Albuquerque, NM 2008 200215.2
5 Albuquerque, NM 2009 187486.9
6 Albuquerque, NM 2010 180903.8

  City            year income
1 Albuquerque, NM 2005 41820
2 Albuquerque, NM 2006 43021
3 Albuquerque, NM 2007 43677
4 Albuquerque, NM 2008 46437
5 Albuquerque, NM 2009 44594
6 Albuquerque, NM 2010 46079

  City            year age
1 Albuquerque, NM 2005 35.8
2 Albuquerque, NM 2006 35.3
3 Albuquerque, NM 2007 35.2
4 Albuquerque, NM 2008 35.5
5 Albuquerque, NM 2009 34.0
6 Albuquerque, NM 2010 35.2

  City            year unemployment
1 Albuquerque, NM 2005 14.53370
2 Albuquerque, NM 2006 18.78602
3 Albuquerque, NM 2007 19.91113
4 Albuquerque, NM 2008 19.15097
5 Albuquerque, NM 2009 13.87797
6 Albuquerque, NM 2010 12.43643

In [21]:
df_list <- list(crime, price, income, age, unemployment)
merged_data <- Reduce(function(x, y) merge(x, y, by = c('City', 'year')), df_list)

In [23]:
colnames(merged_data) = c('city', 'year', 'crime_rate', 'housing_price', 'income', 'median_age', 'unemployment')

In [24]:
merged_data

    city            year crime_rate  housing_price income median_age
1   Albuquerque, NM 2005 0.019036710 153134.1      41820  35.8
2   Albuquerque, NM 2006 0.018165304 170259.0      43021  35.3
3   Albuquerque, NM 2007 0.019800282 193305.9      43677  35.2
4   Albuquerque, NM 2008 0.017889373 200215.2      46437  35.5
5   Albuquerque, NM 2009 0.015385311 187486.9      44594  34.0
6   Albuquerque, NM 2010 0.015722210 180903.8      46079  35.2
7   Albuquerque, NM 2011 0.015254701 171329.0      43606  35.5
8   Albuquerque, NM 2012 0.014994112 164757.2      45373  35.3
9   Albuquerque, NM 2013 0.015497210 163877.8      48357  35.8
10  Albuquerque, NM 2014 0.017656932 166668.6      46433  35.7
11  Albuquerque, NM 2015 0.019316767 169546.4      47096  36.0
12  Atlanta, GA     2005 0.033496956 179505.7      39752  34.7
13  Atlanta, GA     2006 0.031074260 186545.6      41612  35.0
14  Atlanta, GA     2007 0.032476020 192300.5      47153  35.0
15  Atlanta, GA     2008 0.027777778 191047.2      48865  35.7
16  Atlanta, GA     2009 0.023002310 171838.8      49981  33.4
17  Atlanta, GA     2010 0.027375995 152781.2      41631  33.2
18  Atlanta, GA     2011 0.028655827 139138.9      43903  32.7
19  Atlanta, GA     2012 0.027580936 125489.5      46466  33.1
20  Atlanta, GA     2013 0.024460113 131061.1      46485  33.1
21  Atlanta, GA     2014 0.024548654 154395.4      46777  33.5
22  Atlanta, GA     2015 0.022392460 169023.9      50210  33.8
23  Austin, TX      2005 0.009791939 186656.9      43731  31.4
24  Austin, TX      2006 0.010306940 192941.4      47212  31.2
25  Austin, TX      2007 0.010800525 199710.0      48966  31.4
26  Austin, TX      2008 0.010444107 207084.2      51372  31.7
27  Austin, TX      2009 0.010465948 201617.9      50132  31.2
28  Austin, TX      2010 0.009590202 198154.6      47434  30.9
29  Austin, TX      2011 0.008599518 192188.5      49987  31.3
30  Austin, TX      2012 0.008176242 190162.6      52453  31.7
⋮   ⋮               ⋮    ⋮           ⋮             ⋮      ⋮
356 Tulsa, OK       2008 0.02570544  128703.7      39657  35.8
357 Tulsa, OK       2009 0.02232033  128249.3      38426  34.9
358 Tulsa, OK       2010 0.02196445  128489.3      38220  35.1
359 Tulsa, OK       2011 0.01999490  126555.3      40123  34.8
360 Tulsa, OK       2012 0.01979925  122320.6      40440  34.8
361 Tulsa, OK       2013 0.01940187  124317.4      41495  34.7
362 Tulsa, OK       2014 0.01610287  127282.2      42803  35.4
363 Tulsa, OK       2015 0.01807133  132175.7      43322  35.0
364 Washington, DC  2005 0.02803163  353870.3      47221  35.9
365 Washington, DC  2006 0.02891682  425827.4      51847  35.0
366 Washington, DC  2007 0.02693900  431580.1      54317  34.9
367 Washington, DC  2008 0.02749086  401361.7      57936  34.9
368 Washington, DC  2009 0.02530447  339166.0      59290  35.1
369 Washington, DC  2010 0.02482205  319790.1      60903  33.9
370 Washington, DC  2011 0.02260532  318414.8      63124  33.4
371 Washington, DC  2012 0.02355758  314068.1      66583  33.7
372 Washington, DC  2013 0.02437934  336099.6      67572  33.8
373 Washington, DC  2014 0.02370643  362697.9      71648  33.8
374 Washington, DC  2015 0.02405136  373022.7      75628  33.8
375 Wichita, KS     2005 0.01489531  109902.9      40115  34.2
376 Wichita, KS     2006 0.01860806  107354.1      41089  34.8
377 Wichita, KS     2007 0.01892859  111378.1      42696  35.0
378 Wichita, KS     2008 0.01708209  114261.8      44211  34.0
379 Wichita, KS     2009 0.01770778  115047.3      44405  34.3
380 Wichita, KS     2010 0.01589045  117629.0      42694  33.9
381 Wichita, KS     2011 0.01540037  114371.6      44184  34.3
382 Wichita, KS     2012 0.01498930  110632.7      43776  35.1
383 Wichita, KS     2013 0.01588156  111972.3      43538  34.0
384 Wichita, KS     2014 0.01516931  112149.6      45477  34.0
385 Wichita, KS     2015 0.01969607  115130.5      46894  34.6
    unemployment
1   14.533702
2   18.786019
3   19.911130
4   19.150972
5   13.877965
6   12.436434
7   10.542100
8    8.817330
9    7.260191
10   8.308843
11   6.681222
12  10.534444
13  10.190236
14  10.807414
15  11.776196
16   7.966137
17   6.696835
18  13.222761
19  14.661379
20  11.253640
21  10.482968
22   7.382863
23  14.198369
24  16.347289
25  19.592060
26  19.434976
27  13.391173
28  11.853359
29   8.251289
30   7.106502
⋮   ⋮
356 21.912674
357 13.843573
358 10.640480
359  8.010352
360  7.862066
361  7.173986
362  5.581463
363  6.377931
364 10.958860
365 11.788686
366 12.381388
367 12.881559
368  9.013277
369  8.060211
370 11.377442
371 10.342908
372 10.446569
373  8.859504
374  7.250638
375 12.318049
376 13.096823
377 15.245344
378 16.408939
379  9.897806
380  8.734963
381 10.462393
382  8.034788
383  7.482116
384  6.848021
385  4.994331

In [25]:
write.csv(merged_data, "merged_data.csv")