In [47]:
library(tidyverse)

In [52]:
geo <- read.csv("geomobility_57cities.csv")
price <- read.csv("houseprice_57cities.csv")
income <- read.csv("income_57cities.csv")
age <- read.csv("medianage_57cities.csv")
unemployment <- read.csv("unemployment_57cities.csv")

In [53]:
geo <- select(geo, -X)
price <- select(price, -X, -X2020.1)
income <- select(income, -X)
age <- select(age, -X)
unemployment <- select(unemployment, -X)

In [56]:
colnames(geo) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(price) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(income) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(age) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(unemployment) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')

In [57]:
geo <- pivot_longer(geo, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "geo")
price <- pivot_longer(price, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "price")
income <- pivot_longer(income, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "income")
age <- pivot_longer(age, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "age")
unemployment <- pivot_longer(unemployment, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "unemployment")

In [58]:
geo$year = as.integer(geo$year)
price$year = as.integer(price$year)
income$year = as.integer(income$year)
age$year = as.integer(age$year)
unemployment$year = as.integer(unemployment$year)

In [59]:
head(geo)
head(price)
head(income)
head(age)
head(unemployment)

  city            year geo
1 Albuquerque, NM 2005 482442
2 Albuquerque, NM 2006 485982
3 Albuquerque, NM 2007 505490
4 Albuquerque, NM 2008 506706
5 Albuquerque, NM 2009 519532
6 Albuquerque, NM 2010 540574

  city            year price
1 Albuquerque, NM 2005 153134.1
2 Albuquerque, NM 2006 170259.0
3 Albuquerque, NM 2007 193305.9
4 Albuquerque, NM 2008 200215.2
5 Albuquerque, NM 2009 187486.9
6 Albuquerque, NM 2010 180903.8

  city            year income
1 Albuquerque, NM 2005 41820
2 Albuquerque, NM 2006 43021
3 Albuquerque, NM 2007 43677
4 Albuquerque, NM 2008 46437
5 Albuquerque, NM 2009 44594
6 Albuquerque, NM 2010 46079

  city            year age
1 Albuquerque, NM 2005 35.8
2 Albuquerque, NM 2006 35.3
3 Albuquerque, NM 2007 35.2
4 Albuquerque, NM 2008 35.5
5 Albuquerque, NM 2009 34.0
6 Albuquerque, NM 2010 35.2

  city            year unemployment
1 Albuquerque, NM 2005 14.53370
2 Albuquerque, NM 2006 18.78602
3 Albuquerque, NM 2007 19.91113
4 Albuquerque, NM 2008 19.15097
5 Albuquerque, NM 2009 13.87797
6 Albuquerque, NM 2010 12.43643

In [61]:
df_list <- list(geo, price, income, age, unemployment)
merged_data <- Reduce(function(x, y) merge(x, y, by = c('city', 'year')), df_list)

In [62]:
colnames(merged_data) = c('city', 'year', 'geomobility', 'housing_price', 'income', 'median_age', 'unemployment')

In [63]:
merged_data

    city            year geomobility housing_price income median_age
1   Albuquerque, NM 2005 482442      153134.1      41820  35.8
2   Albuquerque, NM 2006 485982      170259.0      43021  35.3
3   Albuquerque, NM 2007 505490      193305.9      43677  35.2
4   Albuquerque, NM 2008 506706      200215.2      46437  35.5
5   Albuquerque, NM 2009 519532      187486.9      44594  34.0
6   Albuquerque, NM 2010 540574      180903.8      46079  35.2
7   Albuquerque, NM 2011 544579      171329.0      43606  35.5
8   Albuquerque, NM 2012 548340      164757.2      45373  35.3
9   Albuquerque, NM 2013 549629      163877.8      48357  35.8
10  Albuquerque, NM 2014 550317      166668.6      46433  35.7
11  Albuquerque, NM 2015 552275      169546.4      47096  36.0
12  Albuquerque, NM 2016 553849      176038.3      50522  36.5
13  Albuquerque, NM 2017 551049      183130.7      50456  37.0
14  Albuquerque, NM 2018 553759      189542.2      51099  37.2
15  Albuquerque, NM 2019 553804      198026.6      55567  37.3
16  Albuquerque, NM 2020 554784      212967.8      53936  37.1
17  Albuquerque, NM 2021 558997      241066.3      58512  38.9
18  Albuquerque, NM 2022 554890      280587.6      64757  38.4
19  Albuquerque, NM 2023 555391      308189.9      67907  39.2
20  Anchorage, AK   2005 262394      207175.8      61217  33.8
21  Anchorage, AK   2006 273891      226903.5      63656  33.5
22  Anchorage, AK   2007 275489      243855.7      68726  33.3
23  Anchorage, AK   2008 274493      253043.7      75637  33.4
24  Anchorage, AK   2009 281658      253020.6      72832  32.3
25  Anchorage, AK   2010 287257      253109.2      72128  32.7
26  Anchorage, AK   2011 291302      252404.0      72813  32.9
27  Anchorage, AK   2012 294856      249462.3      72575  33.0
28  Anchorage, AK   2013 297153      264355.9      79045  32.4
29  Anchorage, AK   2014 295739      271296.9      76337  32.1
30  Anchorage, AK   2015 293923      281376.3      78662  32.2
⋮   ⋮               ⋮    ⋮           ⋮             ⋮      ⋮
883 Washington, DC  2013 636535      336099.6       67572 33.8
884 Washington, DC  2014 648586      362697.9       71648 33.8
885 Washington, DC  2015 663006      373022.7       75628 33.8
886 Washington, DC  2016 672022      383018.4       75506 33.9
887 Washington, DC  2017 684810      391994.5       82372 34.0
888 Washington, DC  2018 693798      405671.3       85203 33.9
889 Washington, DC  2019 697556      418772.4       92266 34.3
890 Washington, DC  2020 693253      434866.2       90842 34.1
891 Washington, DC  2021 661026      473189.9       90088 34.8
892 Washington, DC  2022 660942      514291.0      101027 34.9
893 Washington, DC  2023 670127      532275.5      108210 34.9
894 Wichita, KS     2005 347984      109902.9       40115 34.2
895 Wichita, KS     2006 351349      107354.1       41089 34.8
896 Wichita, KS     2007 355266      111378.1       42696 35.0
897 Wichita, KS     2008 358047      114261.8       44211 34.0
898 Wichita, KS     2009 364108      115047.3       44405 34.3
899 Wichita, KS     2010 378148      117629.0       42694 33.9
900 Wichita, KS     2011 379792      114371.6       44184 34.3
901 Wichita, KS     2012 380372      110632.7       43776 35.1
902 Wichita, KS     2013 380784      111972.3       43538 34.0
903 Wichita, KS     2014 382385      112149.6       45477 34.0
904 Wichita, KS     2015 383590      115130.5       46894 34.6
905 Wichita, KS     2016 385045      121298.5       49202 34.7
906 Wichita, KS     2017 385843      124458.6       50504 35.9
907 Wichita, KS     2018 382995      128795.6       51051 35.3
908 Wichita, KS     2019 384278      134578.1       55056 35.3
909 Wichita, KS     2020 385454      144699.0       53466 35.3
910 Wichita, KS     2021 390384      158485.9       56293 35.6
911 Wichita, KS     2022 393547      177256.4       59277 36.2
912 Wichita, KS     2023 392189      194398.3       61281 36.8
    unemployment
1   14.533702
2   18.786019
3   19.911130
4   19.150972
5   13.877965
6   12.436434
7   10.542100
8    8.817330
9    7.260191
10   8.308843
11   6.681222
12   5.212342
13   4.805098
14   5.734425
15   5.082790
16   5.594741
17   6.105605
18   4.188383
19   4.337847
20  12.813669
21  12.609018
22  14.652567
23  16.511551
24  13.173254
25  11.754007
26   7.661335
27   6.494628
28   6.606993
29   5.718332
30   6.380028
⋮   ⋮
883 10.446569
884  8.859504
885  7.250638
886  6.919595
887  6.590778
888  7.541190
889  6.263807
890  7.119626
891  8.200761
892  5.112622
893  5.258939
894 12.318049
895 13.096823
896 15.245344
897 16.408939
898  9.897806
899  8.734963
900 10.462393
901  8.034788
902  7.482116
903  6.848021
904  4.994331
905  5.754310
906  6.689720
907  4.901292
908  5.507219
909  5.570981
910  7.203338
911  6.025616
912  4.093885

In [64]:
write.csv(merged_data, "merged_data.csv")