In [95]:
library(tidyverse)

In [96]:
geo <- read.csv("geomob.csv")
price <- read.csv("housingprice.csv")
income <- read.csv("income.csv")
age <- read.csv("medianage.csv")
unemployment <- read.csv("unemployment.csv")

In [98]:
geo <- select(geo, -X)
price <- select(price, -X, -X2020.1)
income <- select(income, -X)
age <- select(age, -X)
unemployment <- select(unemployment, -X)

In [100]:
colnames(geo) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(price) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(income) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(age) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')
colnames(unemployment) <- c('city', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023')

In [101]:
geo <- pivot_longer(geo, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "geo")
price <- pivot_longer(price, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "price")
income <- pivot_longer(income, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "income")
age <- pivot_longer(age, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "age")
unemployment <- pivot_longer(unemployment, cols = c('2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'), names_to = "year", values_to = "unemployment")

In [102]:
geo$year = as.integer(geo$year)
price$year = as.integer(price$year)
income$year = as.integer(income$year)
age$year = as.integer(age$year)
unemployment$year = as.integer(unemployment$year)

In [103]:
head(geo)
head(price)
head(income)
head(age)
head(unemployment)

  city            year geo
1 Albuquerque, NM 2005 482442
2 Albuquerque, NM 2006 485982
3 Albuquerque, NM 2007 505490
4 Albuquerque, NM 2008 506706
5 Albuquerque, NM 2009 519532
6 Albuquerque, NM 2010 540574

  city            year price
1 Albuquerque, NM 2005 153134.1
2 Albuquerque, NM 2006 170259.0
3 Albuquerque, NM 2007 193305.9
4 Albuquerque, NM 2008 200215.2
5 Albuquerque, NM 2009 187486.9
6 Albuquerque, NM 2010 180903.8

  city            year income
1 Albuquerque, NM 2005 41820
2 Albuquerque, NM 2006 43021
3 Albuquerque, NM 2007 43677
4 Albuquerque, NM 2008 46437
5 Albuquerque, NM 2009 44594
6 Albuquerque, NM 2010 46079

  city            year age
1 Albuquerque, NM 2005 35.8
2 Albuquerque, NM 2006 35.3
3 Albuquerque, NM 2007 35.2
4 Albuquerque, NM 2008 35.5
5 Albuquerque, NM 2009 34.0
6 Albuquerque, NM 2010 35.2

  city            year unemployment
1 Albuquerque, NM 2005 14.53370
2 Albuquerque, NM 2006 18.78602
3 Albuquerque, NM 2007 19.91113
4 Albuquerque, NM 2008 19.15097
5 Albuquerque, NM 2009 13.87797
6 Albuquerque, NM 2010 12.43643

In [104]:
df_list <- list(geo, price, income, age, unemployment)
merged_data <- Reduce(function(x, y) merge(x, y, by = c('city', 'year')), df_list)

In [105]:
colnames(merged_data) = c('city', 'year', 'geomobility', 'housing_price', 'income', 'median_age', 'unemployment')

In [106]:
merged_data

    city            year geomobility housing_price income median_age
1   Albuquerque, NM 2005 482442      153134.1      41820  35.8
2   Albuquerque, NM 2006 485982      170259.0      43021  35.3
3   Albuquerque, NM 2007 505490      193305.9      43677  35.2
4   Albuquerque, NM 2008 506706      200215.2      46437  35.5
5   Albuquerque, NM 2009 519532      187486.9      44594  34.0
6   Albuquerque, NM 2010 540574      180903.8      46079  35.2
7   Albuquerque, NM 2011 544579      171329.0      43606  35.5
8   Albuquerque, NM 2012 548340      164757.2      45373  35.3
9   Albuquerque, NM 2013 549629      163877.8      48357  35.8
10  Albuquerque, NM 2014 550317      166668.6      46433  35.7
11  Albuquerque, NM 2015 552275      169546.4      47096  36.0
12  Albuquerque, NM 2016 553849      176038.3      50522  36.5
13  Albuquerque, NM 2017 551049      183130.7      50456  37.0
14  Albuquerque, NM 2018 553759      189542.2      51099  37.2
15  Albuquerque, NM 2019 553804      198026.6      55567  37.3
16  Albuquerque, NM 2020 554784      212967.8      53936  37.1
17  Albuquerque, NM 2021 558997      241066.3      58512  38.9
18  Albuquerque, NM 2022 554890      280587.6      64757  38.4
19  Albuquerque, NM 2023 555391      308189.9      67907  39.2
20  Atlanta, GA     2005 388422      179505.7      39752  34.7
21  Atlanta, GA     2006 438135      186545.6      41612  35.0
22  Atlanta, GA     2007 425366      192300.5      47153  35.0
23  Atlanta, GA     2008 447703      191047.2      48865  35.7
24  Atlanta, GA     2009 532685      171838.8      49981  33.4
25  Atlanta, GA     2010 416670      152781.2      41631  33.2
26  Atlanta, GA     2011 427164      139138.9      43903  32.7
27  Atlanta, GA     2012 438201      125489.5      46466  33.1
28  Atlanta, GA     2013 441997      131061.1      46485  33.1
29  Atlanta, GA     2014 449800      154395.4      46777  33.5
30  Atlanta, GA     2015 460327      169023.9      50210  33.8
⋮   ⋮               ⋮    ⋮           ⋮             ⋮      ⋮
598 Washington, DC  2013 636535      336099.6       67572 33.8
599 Washington, DC  2014 648586      362697.9       71648 33.8
600 Washington, DC  2015 663006      373022.7       75628 33.8
601 Washington, DC  2016 672022      383018.4       75506 33.9
602 Washington, DC  2017 684810      391994.5       82372 34.0
603 Washington, DC  2018 693798      405671.3       85203 33.9
604 Washington, DC  2019 697556      418772.4       92266 34.3
605 Washington, DC  2020 693253      434866.2       90842 34.1
606 Washington, DC  2021 661026      473189.9       90088 34.8
607 Washington, DC  2022 660942      514291.0      101027 34.9
608 Washington, DC  2023 670127      532275.5      108210 34.9
609 Wichita, KS     2005 347984      109902.9       40115 34.2
610 Wichita, KS     2006 351349      107354.1       41089 34.8
611 Wichita, KS     2007 355266      111378.1       42696 35.0
612 Wichita, KS     2008 358047      114261.8       44211 34.0
613 Wichita, KS     2009 364108      115047.3       44405 34.3
614 Wichita, KS     2010 378148      117629.0       42694 33.9
615 Wichita, KS     2011 379792      114371.6       44184 34.3
616 Wichita, KS     2012 380372      110632.7       43776 35.1
617 Wichita, KS     2013 380784      111972.3       43538 34.0
618 Wichita, KS     2014 382385      112149.6       45477 34.0
619 Wichita, KS     2015 383590      115130.5       46894 34.6
620 Wichita, KS     2016 385045      121298.5       49202 34.7
621 Wichita, KS     2017 385843      124458.6       50504 35.9
622 Wichita, KS     2018 382995      128795.6       51051 35.3
623 Wichita, KS     2019 384278      134578.1       55056 35.3
624 Wichita, KS     2020 385454      144699.0       53466 35.3
625 Wichita, KS     2021 390384      158485.9       56293 35.6
626 Wichita, KS     2022 393547      177256.4       59277 36.2
627 Wichita, KS     2023 392189      194398.3       61281 36.8
    unemployment
1   14.533702
2   18.786019
3   19.911130
4   19.150972
5   13.877965
6   12.436434
7   10.542100
8    8.817330
9    7.260191
10   8.308843
11   6.681222
12   5.212342
13   4.805098
14   5.734425
15   5.082790
16   5.594741
17   6.105605
18   4.188383
19   4.337847
20  10.534444
21  10.190236
22  10.807414
23  11.776196
24   7.966137
25   6.696835
26  13.222761
27  14.661379
28  11.253640
29  10.482968
30   7.382863
⋮   ⋮
598 10.446569
599  8.859504
600  7.250638
601  6.919595
602  6.590778
603  7.541190
604  6.263807
605  7.119626
606  8.200761
607  5.112622
608  5.258939
609 12.318049
610 13.096823
611 15.245344
612 16.408939
613  9.897806
614  8.734963
615 10.462393
616  8.034788
617  7.482116
618  6.848021
619  4.994331
620  5.754310
621  6.689720
622  4.901292
623  5.507219
624  5.570981
625  7.203338
626  6.025616
627  4.093885

In [116]:
truck <- read.csv("truckcost.csv")

In [118]:
truck <- select(truck, -X)

In [120]:
colnames(truck) <- c('city', 'year', 'truck_cost')

In [121]:
head(truck)

  city            year truck_cost
1 Albuquerque, NM 2005 2110.948
2 Albuquerque, NM 2006 2183.914
3 Albuquerque, NM 2007 2136.401
4 Albuquerque, NM 2008 1914.107
5 Albuquerque, NM 2009 1568.787
6 Albuquerque, NM 2010 1750.356

In [122]:
merged_data <- merge(merged_data, truck, by = c('city', 'year'))

In [123]:
merged_data

    city            year geomobility housing_price income median_age
1   Albuquerque, NM 2005 482442      153134.1      41820  35.8
2   Albuquerque, NM 2006 485982      170259.0      43021  35.3
3   Albuquerque, NM 2007 505490      193305.9      43677  35.2
4   Albuquerque, NM 2008 506706      200215.2      46437  35.5
5   Albuquerque, NM 2009 519532      187486.9      44594  34.0
6   Albuquerque, NM 2010 540574      180903.8      46079  35.2
7   Albuquerque, NM 2011 544579      171329.0      43606  35.5
8   Albuquerque, NM 2012 548340      164757.2      45373  35.3
9   Albuquerque, NM 2013 549629      163877.8      48357  35.8
10  Albuquerque, NM 2014 550317      166668.6      46433  35.7
11  Albuquerque, NM 2015 552275      169546.4      47096  36.0
12  Albuquerque, NM 2016 553849      176038.3      50522  36.5
13  Albuquerque, NM 2017 551049      183130.7      50456  37.0
14  Albuquerque, NM 2018 553759      189542.2      51099  37.2
15  Albuquerque, NM 2019 553804      198026.6      55567  37.3
16  Albuquerque, NM 2020 554784      212967.8      53936  37.1
17  Albuquerque, NM 2021 558997      241066.3      58512  38.9
18  Albuquerque, NM 2022 554890      280587.6      64757  38.4
19  Albuquerque, NM 2023 555391      308189.9      67907  39.2
20  Atlanta, GA     2005 388422      179505.7      39752  34.7
21  Atlanta, GA     2006 438135      186545.6      41612  35.0
22  Atlanta, GA     2007 425366      192300.5      47153  35.0
23  Atlanta, GA     2008 447703      191047.2      48865  35.7
24  Atlanta, GA     2009 532685      171838.8      49981  33.4
25  Atlanta, GA     2010 416670      152781.2      41631  33.2
26  Atlanta, GA     2011 427164      139138.9      43903  32.7
27  Atlanta, GA     2012 438201      125489.5      46466  33.1
28  Atlanta, GA     2013 441997      131061.1      46485  33.1
29  Atlanta, GA     2014 449800      154395.4      46777  33.5
30  Atlanta, GA     2015 460327      169023.9      50210  33.8
⋮   ⋮               ⋮    ⋮           ⋮             ⋮      ⋮
598 Washington, DC  2013 636535      336099.6       67572 33.8
599 Washington, DC  2014 648586      362697.9       71648 33.8
600 Washington, DC  2015 663006      373022.7       75628 33.8
601 Washington, DC  2016 672022      383018.4       75506 33.9
602 Washington, DC  2017 684810      391994.5       82372 34.0
603 Washington, DC  2018 693798      405671.3       85203 33.9
604 Washington, DC  2019 697556      418772.4       92266 34.3
605 Washington, DC  2020 693253      434866.2       90842 34.1
606 Washington, DC  2021 661026      473189.9       90088 34.8
607 Washington, DC  2022 660942      514291.0      101027 34.9
608 Washington, DC  2023 670127      532275.5      108210 34.9
609 Wichita, KS     2005 347984      109902.9       40115 34.2
610 Wichita, KS     2006 351349      107354.1       41089 34.8
611 Wichita, KS     2007 355266      111378.1       42696 35.0
612 Wichita, KS     2008 358047      114261.8       44211 34.0
613 Wichita, KS     2009 364108      115047.3       44405 34.3
614 Wichita, KS     2010 378148      117629.0       42694 33.9
615 Wichita, KS     2011 379792      114371.6       44184 34.3
616 Wichita, KS     2012 380372      110632.7       43776 35.1
617 Wichita, KS     2013 380784      111972.3       43538 34.0
618 Wichita, KS     2014 382385      112149.6       45477 34.0
619 Wichita, KS     2015 383590      115130.5       46894 34.6
620 Wichita, KS     2016 385045      121298.5       49202 34.7
621 Wichita, KS     2017 385843      124458.6       50504 35.9
622 Wichita, KS     2018 382995      128795.6       51051 35.3
623 Wichita, KS     2019 384278      134578.1       55056 35.3
624 Wichita, KS     2020 385454      144699.0       53466 35.3
625 Wichita, KS     2021 390384      158485.9       56293 35.6
626 Wichita, KS     2022 393547      177256.4       59277 36.2
627 Wichita, KS     2023 392189      194398.3       61281 36.8
    unemployment truck_cost
1   14.533702    2110.948
2   18.786019    2183.914
3   19.911130    2136.401
4   19.150972    1914.107
5   13.877965    1568.787
6   12.436434    1750.356
7   10.542100    1882.714
8    8.817330    1904.774
9    7.260191    1886.108
10   8.308843    1957.378
11   6.681222    1882.714
12   5.212342    1847.928
13   4.805098    1949.742
14   5.734425    2079.555
15   5.082790    1997.255
16   5.594741    1842.837
17   6.105605    2023.557
18   4.188383    2041.375
19   4.337847    1940.409
20  10.534444    2039.852
21  10.190236    2110.361
22  10.807414    2064.448
23  11.776196    1849.640
24   7.966137    1515.951
25   6.696835    1691.404
26  13.222761    1819.305
27  14.661379    1840.622
28  11.253640    1822.584
29  10.482968    1891.454
30   7.382863    1819.305
⋮   ⋮            ⋮
598 10.446569    2093.422
599  8.859504    2172.526
600  7.250638    2089.656
601  6.919595    2051.046
602  6.590778    2164.051
603  7.541190    2308.133
604  6.263807    2216.787
605  7.119626    2045.395
606  8.200761    2245.980
607  5.112622    2265.756
608  5.258939    2153.692
609 12.318049    1981.809
610 13.096823    2050.312
611 15.245344    2005.705
612 16.408939    1797.010
613  9.897806    1472.815
614  8.734963    1643.276
615 10.462393    1767.538
616  8.034788    1788.248
617  7.482116    1770.724
618  6.848021    1837.634
619  4.994331    1767.538
620  5.754310    1734.879
621  6.689720    1830.465
622  4.901292    1952.336
623  5.507219    1875.071
624  5.570981    1730.100
625  7.203338    1899.764
626  6.025616    1916.492
627  4.093885    1821.703

In [124]:
str(merged_data)

'data.frame':	627 obs. of  8 variables:
 $ city         : chr  "Albuquerque, NM" "Albuquerque, NM" "Albuquerque, NM" "Albuquerque, NM" ...
 $ year         : int  2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 ...
 $ geomobility  : num  482442 485982 505490 506706 519532 ...
 $ housing_price: num  153134 170259 193306 200215 187487 ...
 $ income       : num  41820 43021 43677 46437 44594 ...
 $ median_age   : num  35.8 35.3 35.2 35.5 34 35.2 35.5 35.3 35.8 35.7 ...
 $ unemployment : num  14.5 18.8 19.9 19.2 13.9 ...
 $ truck_cost   : num  2111 2184 2136 1914 1569 ...

In [125]:
write.csv(merged_data, "merged_data.csv")